[2012-06-06 18:55] scop opened #1 "Shell variable expansion is fragile - remove it?"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/51)

There are several ways to confuse the shell variable expansion routines in Pkg.py with perfectly valid and usual shell constructs. I'm having doubts that it's even worth a try to improve them - I find it unlikely that they could be made significantly better with sensible amounts of work.

Currently they serve little (pretty much cosmetic)

[2012-12-06 08:45] scop opened #2 "rpmlint should detect translated %description"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/56)

A spec file can contains translated %description, that maybe undesirable for some distro ( mandriva, for example).

A warning should be triggered when such tag are detected.

misc:

Ok, after taking a look, this doesn't seems easy to see that summary was translated.

for %description, this can be quite easy, but i do not really know the se

[2012-12-06 08:48] scop opened #4 "Check archives in srpm for binary files"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/183, sochotni@redhat.com)

Archives (especially java packages) can contain pre-compiled binary executable files (jar files). Packagers should be warned when such files exist inside his packages so that they can take precautions

I understand it can be difficult to say what files should be included, but at least for jar files inside srpm this is

[2012-12-06 08:53] scop opened #6 "fix utf8 checks"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/147, dmueller@suse.de)

the utf8 checks do not work properly on rpm tags, because the rpm bindings return the data in the C locale. in order to make them return the data in the user's locale, the localisation has to be initalized. this is done with this call:

locale.setlocale(locale.LC_ALL, )

see documentation of the locale module on python.o

[2012-12-06 09:14] scop opened #8 "RFE: check comments on patches"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/182)

Does it make sense to check whether patches have any comments (which could be links also and we can check if they can be accessed) mentioned along with it which explains it ?
- Rakesh Pandit

Original comment by: scop

[2012-12-06 09:20] scop opened #9 "%mklibname check is not generic"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/7)

%mklibname is not something that's available everywhere, but is Mandriva specific, I believe. Distro specific stuff is being purged from the generic codebase, so this stuff could go while at it.

misc:

Yes I agree, but moving it outside would require the creation of a dedicated module outside of rpmlint current svn, which would lead to cod

[2013-04-02 19:41] scop opened #11 "Ensure that debug files doesn't get included in other packages"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/13)

if you have %{_libdir} in your list you'll include %{_libdir}/debug too, that way you'll end up including the debug package in the package too.

So having %{_libdir}, %{_libdir}/\* in your list will is a no-no

Original comment by: scop

[2013-04-02 19:45] scop opened #13 "Forbid %summary macro"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/12)

using %summary macro in the spec will in most cases go wrong as if you have several sub packages (as you almost always have now that we produce -debug packages too) the %summary macro will get redefined and you'll end up using the summary for the last defined package

Changed 7 years ago by misc

status changed from new to assigned
owner c

[2013-04-02 19:48] scop opened #15 "License checking doesn't deal with version numbers"
Hello,

rpmlint only checks namss of licenses.

However, GPL 2 is not GPL 3, and Apache License 1.0 is not 2.0

As a packager I would like to be clear about this version, but rpmlint complains when version numbers get added.

Would this be an accepted change ? If so, I would be willing to work out a patch.

Attachments

Change History

Changed 7 years ago by anonymous

Wouldn't it be better to add

[2013-04-02 19:50] scop opened #17 "rpmlint could check that -devel are in a development group"
This would be nice for the users to not get -devel packages in the list when they search for a kind of app.

Changed 7 years ago by misc

We should have something more generic. Ie, checking that perl-\* are in Developement/perl, etc.

But then arise the issue of configurating this check. The same system should be used for NamingPolicy? check, and we should avoid hardcoded check.

Changed 7 years a

[2013-04-02 19:52] scop opened #20 "Improve the check for LSB packages"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/34, frederic.lepied@…)

Changed 7 years ago by misc

Ok so the patch is quite big.

Regarding the creation of new script called lsbrpmlint, i prefer to not include it, as it just run rpmlint with a default option.

Regarding most of the test they are ok by themself, but some of them conflict with regular distribution policy. So we should restri

[2013-04-02 19:53] scop opened #19 "Check for undefined macros in menus"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/41, dvalin)

Do a check for undefined macros in menu items so we don't get Name=%{title}, Comment=%{longtitle} etc. in package.

Original comment by: scop

[2013-04-02 19:54] scop opened #23 "Forbid requires on filenames"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/45, pkarlsen@…)

As synthesis doesn't store package filenames, this will lead to difficulties installing these.

Changed 7 years ago by scop

status changed from new to closed
resolution set to wontfix
What's synthesis? Sounds like a defect in it, and forbidding something like "Requires: /usr/bin/texi2html" or "Requires: /usr/lib/mozilla/plugin

[2013-04-02 19:56] scop opened #25 "Allow rpmlint to perform some checks on %buildroot"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/46, nanardon)

For some tests over binaries, rpmlint extract the rpm content into a temporary directory and find error in files.

In rpm it is possible to run any script as %post_install, the exit status of this script can be used to make the build failing.

So it came to me an idea. Why not having a rpmlint mode to perform not from a rpm but f

[2013-04-02 19:58] scop opened #27 "Add badness scoring support"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/70)

the patch below adds an optional new feature: possibility to assign a badness score to each individual check. The feature, if used, modifies the behaviour of rpmlint. Then by default each check is degraded to a warning, and only checks which have a badness assigned become an error. In addition, it cumulates the errors and exits with nonzer

[2013-04-02 19:59] scop opened #30 "Check pkgconfig files"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/81, dmueller@…)

the check below should be a start for a pkgconfig file checkier

Changed 6 years ago by scop

Checking for build root strings in installed files is very useful, but it is not at all limited to pkgconfig files, therefore I think this check should not be applied as is.

Also, FWIW, rpm 4.4.2.1 from rpm.org includes a "check-build

[2013-04-02 20:01] scop opened #31 "Restrict wrong-script-interpreter warning to executable files"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/84, dmueller@…)

the wrong-script-interpreter warning has way too many false positves because of various file formats that start with a shellbang, even though they're not supposed to be executed.

my workaround was to only apply the check for executable files.

Changed 6 years ago by scop

Could you give some examples of file formats for which

[2013-04-02 20:03] scop opened #33 "Fixes for the versioned_dep check"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/123, dmueller@…)

below is a partial patch for the versioned dependency problematic. it only handled "=" so far, and even worse, it did not handle prereq requirements at all, given that they were incorrectly read from rpm.

the patch is incomplete as it doesn't handle "<" or "<=" yet, but ">=" is much more widely used than "=" or "<".

Changed

[2013-04-02 20:04] scop opened #35 "redundant-prefix-tag is a subcase of hardcoded-prefix-tag"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/160, akurtakov@…)

Prefix: %_prefix trigger redundant-prefix-tag Prefix: /usr trigger hardcoded-prefix-tag

But the fix for both warnings is to remove the Prefix: tag. I suggest removing the redundant-prefix-tag and reporting a hardcoded-prefix-tag whenever a Prefix: tag is seen nomather what is the value.

Does it sounds correct or there is a

[2013-04-02 20:07] scop opened #37 "RFE: add "debug" option"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/179, scop)

Copied from  https://bugzilla.redhat.com/show_bug.cgi?id=521628:

"Sometimes, it would be useful what checks is rpmlint actually doing, instead of just seeing the summary and the errors/warnings. Please add an option to allow "debugging", i.e. printing the name of each check that is run alongside with the criteria it has to meet (if

[2013-04-02 20:56] scop opened #38 "RFE: add documentation about which checks are run"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/180, scop)

Copied from  https://bugzilla.redhat.com/show_bug.cgi?id=521622:

"While running rpmlint on a specfile and then on srpm the sets of spec tests differ. It is mentioned within the manpage and the readme file as CAVEATS:

"All checks do not apply to all argument types. For best check coverage, run rpmlint on source rpms instead of plai

[2013-04-02 20:59] scop opened #3 "Add checks for correct placement of pom files"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/193, sochotnicky@…)

For installing maven pom.xml files we are using %add_to_maven_depmap macro which does a lot of things [1].

It is sometimes hard to make sure that pom files are named correctly so I modified FilesCheck? to check that advertised pom file actually exists.

I coded the patch really quickly, and I am willing to improve/refactor

[2013-04-02 21:07] scop opened #39 "rpmdiff: bug with RPMSENSE flags when diff-ing dependancies"
(From http://rpmlint.zarb.org/cgi-bin/trac.cgi/ticket/570, Sandy Wu <sandywujy@…>)

Rpmdiff's req2str(self, req) function takes the REQUIREFLAG of an rpm.hdr and checks whether the corresponding dependancy is belongs to the PRE, POST, PREUN or POSTUN section:

[code]

However, the flags RPMSENSE_SCRIPT_[PRE|POST|PREUN|POSTUN) each have multiple bits set:

rpm.RPMSENSE_SCRIPT_PRE   =0001001000000
r

[2013-10-31 20:45] scop opened #22 "SpecCheck is hardcoded to be the only check to run on spec files"
Although rpmlint comes with variety of checks and allows the user to configure whatever to run a certain check or not, when it comes to checking spec files, only SpecCheck is hardcoded to run.

Even if SpecCheck is disabled, it will be run on spec files. Even if other checks provide spec checks, and are enabled, they will not run on spec files.

This is certainly an upstream bug, however the upstr

[2013-11-29 21:24] scop opened #7 "Would be useful to check that .so files have execute permission"
I was just packaging something for Fedora and having trouble with a failing dependency on a shared library in a subpackage. Turns out that upstream's "make install" installs the shared library without execute permissions, but rpmlint didn't product any error or warning about it.

It would be useful for rpmlint to check for that, (including versioned .so files) and report an error.

Original commen

[2013-12-12 12:12] scop opened #40 "RFE: check more than the first 1024 bytes of a file?"
At  https://bugzilla.redhat.com/show_bug.cgi?id=1034341#c10  rpmlint didn't find the wrong FSF address in a file. It turned out that apparently it only peeks at the first 1024 bytes.

Depending on how this check is implemented, it could either check more than 1024 bytes or add a first pass that would search for "License" or "terms" or "Free Software Foundation" before loading more of the file for

[2014-02-06 08:35] scop opened #14 "style errors"
Hi there!

while working to package the rpmlint suite, this check was done by Paul Wise pabs@debian.org

pep8:

Lots of warnings.

fixme/todo/hack:

./test/test.PamCheck.py:# FIXME harcode
./BinariesCheck.py:                # FIXME this check is too slow,
because forking for objdump is quite slow
./Pkg.py:    # TODO: magic.MAGIC_COMPRESS when PkgFile gets decompress support.
./Pkg.py:            #

[2014-02-06 08:38] scop opened #10 "Install in /usr/local"
Hi there!

Your Makefile installs rpmdiff to /usr instead of /usr/local
when you build from source.

Could you please support installing to an arbitrary prefix and default to /usr/local?

This is good for us, distributors (in my case Debian).

Thanks.

Original comment by: aborrero

[2014-02-06 08:42] scop opened #26 "rpmdiff man page"
Hi there!

As part of the Debian packaging of rpmlint, I wrote a small man page for rpmdiff.

Would you consider including it for the next release?

Find attached the file. Also, is in github: https://raw2.github.com/aborrero/pkg-rpmlint/master/debian/rpmdiff.1

regards.

Original comment by: aborrero

[2014-02-14 12:20] scop opened #12 "Software Collections Check"
Hi,
my SCLCheck is ready to join upstream when #24 is solved.

It is here https://github.com/hroncok/rpmlint-scl

Adding the check boils down to add SCLCheck.py to rpmlint package. It can remain turned-off in default configuration, but even if it is turned on, it suppose not to report anything in non-SCL packages.

Original comment by: hroncok

[2014-02-19 10:28] scop opened #28 "RFE: overrides"
Hi there!

rpmlint is a great tool.

In some environments, rpmlint reports some problems that are mandatory for a given package.

For example, it reports that `cp' and`install' commands in %post are 'dangerous'.
I understand that are dangerous, but some times they are necessary: for example, a custom RPM package for configuration (and this configuration implies moving files).

A possible workaroun

[2014-02-27 16:06] scop opened #16 "TagsCheck._unexpanded_macros can receive a value that is actually a list"
TagsCheck._unexpanded_macros can receive a value that is actually a list. For example:

https://api.opensuse.org/build/openSUSE:Factory/standard/x86_64/installation-images-openSUSE/installation-images-openSUSE-14.47-1.6.src.rpm

Previously this error was hidden because previously there where an str(value) instead of the current value.

I attached a proposal for the fix.

Original comment by: aplan

[2014-05-22 02:54] scop opened #18 "Commit a88ec0ad6a26c3473dffef83c67b8403762696c6 breaks Fedora recommended mktemp BuildRoot."
The style of buildroot tag in question is:
`BuildRoot: %(mktemp -ud %{_tmppath}/%{name}-%{version}-%{release}-XXXXXX)`

And is recommended by documents such as:
- https://fedoraproject.org/wiki/Phase_out_buildroot_tag_%28draft%29
- https://fedoraproject.org/wiki/PackagingDrafts/SecureBuildRoot

The warning reported for this is "W: no-buildroot-tag" which is incorrect.

Additionally, the recommenda

[2014-05-31 20:31] scop opened #24 "Syntax check in 'spec' file"
Hi,

Some syntax errors in the **spec** file that are not recognized by **rpmlint**, causes problems when we try to remove the package.
But then it is often too late and it can only be solved after a **_yum reinstall**_ or **_rpm -i --replacepkgs**_ of the improved rpm.

example :
&nbsp;\- <span style="color:red;">erroneously</span>:
<code>&nbsp;&nbsp;&nbsp;&nbsp;%preun
&nbsp;&nbsp;&nbsp;&nbsp;if

[2014-06-17 14:10] scop opened #21 "[PATCH rpmlint] disallow /var/run and /var/lock"
Distros moved to having /var/run and /var/lock as symlinks to /run resp
/run/lock. Therefore packages must no longer put files there at all.

Also, refactor the code for dir-or-file-in-\* and make it configurable.

Original comment by: l-n

[2014-08-12 20:32] scop opened #42 "[patch] support systems that default to Python 3.x"
Some distributions use Python 3.x by default, when using `python` as the name of the interpretter. The attached patch modifies the package so that it works on such distributions.

Original comment by: psimerda

[2014-09-05 11:08] scop opened #41 "tmpfiles.d check"
I found some packages in openSUSE that create files via system'd tmpfiles.d mechanism without having the files listed in %files. Some manage to evade other checks like the /var/lock check this way. So the attached patch adds a check that warns if tmpfiles are not in the file list.

Original comment by: l-n

[2014-09-17 12:56] scop opened #43 "switch to distutils and let them fix shebang to a specific python version"
I'm going to provide a patch to build using distutils (will also consider autotools or a simple makefile calling distutils if appropriate). Distutils would then take care of installing with the right python version used at build time determined by the python interpretter calling setup.py (or the PYTHON variable if make was still being used).

Original comment by: psimerda

[2014-10-06 08:56] scop opened #44 "Run checkbashisms on /bin/sh scriptlets"
rpmlint could run /usr/bin/checkbashisms on all scriptlets that have /bin/sh as the interpreter.

https://lists.fedoraproject.org/pipermail/devel/2014-October/203024.html

Original comment by: scop

[2014-12-03 17:22] scop opened #5 "Report unused direct dependencies for binary executables"
Currently unused direct dependencies are only reported for shared libraries.  It seems like they should be reported for binary executables as well.

Original comment by: opoplawski

[2015-01-16 06:35] scop opened #29 "setup checks execute against non-setup (patch attached)"
The code that identifies %setup macros doesn't properly account for things like %setup_compile_flags in use with the Mageia distro.  It also doesn't account for leading whitespace.  I've patched our copy of 1.5.0, but the same issue seems to be present in 1.6.0, too:

https://bugs.mageia.org/show_bug.cgi?id=8605

Original comment by: azlinon

[2015-01-23 14:12] scop opened #34 "appdata-validate is deprecated, use appstream-util"
Use appstream-util validate-relax instead of appstream-validate which has been deprecated since October 2014

Original comment by: yaneti

[2015-02-01 03:39] scop opened #45 "Check for conditional source/patch"
Conditionals around a source/patch file can result in the generation of a source .rpm that is lacking files to support everything that the .spec defines. A check to warn out this would be a nice addition.

Original comment by: johansend

[2015-04-10 14:33] scop opened #32 "fix InitScriptCheck"
Pkg.readlines is a generator now due to the following join the generator would be at the end so iterating through lines wouldn't work

Original comment by: l-n

[2015-05-19 12:19] scop opened #36 "fix ghost file handling for %missingok"
%ghost files that are marked %config(missingok) do not need to have code in %post that creates the files.

Original comment by: l-n

[2015-05-19 12:20] scop opened #46 "remove files-attr-not-set check"
%defattr(-,root,root) is default since rpm 4.4, released > 10
years go so it's about time to remove that check

Original comment by: l-n

[2015-07-09 22:40] #12 closed, assigned to scop

[2015-07-09 22:40] #14 closed, assigned to scop

[2015-07-09 22:41] #16 closed, assigned to scop

[2015-07-09 22:41] #18 closed, assigned to scop

[2015-07-09 22:41] #21 closed, assigned to scop

[2015-07-09 22:41] #22 closed, assigned to scop

[2015-07-09 22:41] #26 closed, assigned to scop

[2015-07-09 22:42] #36 closed, assigned to scop

[2015-07-09 23:07] scop commented on #32
In 1.7.

[2015-07-09 23:07] #32 closed

[2015-07-09 23:07] scop commented on #34
In 1.7.

[2015-07-09 23:07] #34 closed

[2015-07-09 23:09] scop commented on #29
In 1.7.

[2015-07-09 23:09] #29 closed

[2015-07-10 06:59] scop commented on #6
Diff: https://gist.github.com/scop/177087a6c505f3ada7fb

[2015-07-10 07:02] scop commented on #17
Patch from original ticket: https://gist.github.com/scop/3080ec1b86fa24f5e012

[2015-07-10 07:04] scop commented on #20
Patch from original ticket: https://gist.github.com/scop/c99941d08d7b5f5b60bc

[2015-07-10 07:05] scop commented on #27
Patch from original ticket: https://gist.github.com/scop/33b683fd88cd0748814f

[2015-07-10 07:07] scop commented on #30
CheckPkgConfig.py from original ticket: https://gist.github.com/scop/d1bd84d50041fb99eb07

[2015-07-10 07:09] scop commented on #31
script-interpreter-only-for-exec-scripts.diff from original ticket: https://gist.github.com/scop/1ac1ed97917e65eb7806

[2015-07-10 07:11] scop commented on #33
fix-versioned-prereq.diff from original ticket: https://gist.github.com/scop/53c410f148860c4884f0

[2015-07-10 07:12] scop commented on #3
0001-Add-checking-for-correct-pom-file-naming.2.patch from original ticket: https://gist.github.com/scop/958364ff5bb7b725cc06

[2015-07-10 07:19] scop commented on #42
Makefile modifies the shebangs according to PYTHON in 1.7.

[2015-07-10 07:19] #42 closed

[2015-07-10 07:20] scop commented on #41
0001-add-check-for-tmpfiles-created-at-runtime.diff from original ticket: https://gist.github.com/scop/70bb1ed6061a49ffaf2e

[2015-07-10 07:21] scop commented on #46
0001-remove-files-attr-not-set-check.diff from original ticket: https://gist.github.com/scop/93804614817c7ee6a1e8

[2015-07-20 11:49] aborrero opened #47 "1.7 debian test failure"
Hi there!

I'm playing with the 1.7 release in Debian.

When building I found this issue:
[code]

Is this a missing dependency on a python lib or something?

Thanks :-)

[2015-07-23 21:39] scop commented on #47
No, a missing "rpm" package installed in the rpmdb. But that's a regression fixed by the above commit.

[2015-07-23 21:39] #47 closed

[2015-07-27 11:35] aborrero commented on #47
It works, thanks.

[2015-09-03 07:42] scop opened #49 "Support rpm >= 4.13 boolean dependencies"
http://rpm.org/wiki/PackagerDocs/BooleanDependencies

[2015-11-29 15:18] keszybz commented on #17
Groups are obsolete... at least in Fedora. Maybe this can be closed?

[2015-11-29 15:19] keszybz commented on #13
With the new python packaging template 'Summary: %{summary}' has become a very useful pattern. Forbidding this would be quite annoying.

[2016-01-10 17:49] jengelh opened #60 "W: non-break-space is good for what?"
[code]
rpmlint lacks a proper description of what these "obscure errors" are, and which program supposedly exhibits those.

[2016-01-10 20:35] scop commented on #60
It's impossible to enumerate the possibilities, but here's just a few off the cuff:

In shell code:
[code]

Write a non-breaking space between ```%setup``` and its arguments in a rpm specfile and watch the arguments being ignored.

Feel free to suggest better wording for the info message, preferably in the form of a pull request.

[2016-01-10 20:35] #60 closed

[2016-01-10 20:44] jengelh commented on #60
rpmlint just should not warn about the nbsp when it occurs outside of shell, in particular, Summary: and %description.

[2016-01-31 02:21] susnux opened #61 "Crash with non ascii characters"
If there are non ascii / utf8 characters in the message rpmlint crashes.
E.g. in my case a "non-utf8-filename" warning with latin1 characters:

    [  377s] Traceback (most recent call last):
    [  377s]   File "rpmlint.py", line 385, in &lt;module&gt;
    [  377s]   File "rpmlint.py", line 196, in main
    [  377s]   File "Filter.py", line 131, in printAllReasons
    [  377s]   File "Filter.py",

[2016-01-31 07:29] scop commented on #61
There is no `non-utf8-filename` warning, did you mean `filename-not-utf8`? Also, the traceback looks a bit odd, we don't ship a `rpmlint.py` file either but just `rpmlint`. Is this with a customized rpmlint?

But most importantly, I tried to construct a test package but was not very successful, could you let me know where can I get the package you found the issue with?

[2016-01-31 16:24] susnux commented on #61
Yes sorry I meant ```filename-not-utf8```.
I use the rpmlint package from openSUSE

[2016-01-31 16:31] scop commented on #61
Ok, but more importantly, what package are you checking with rpmlint when you encounter the issue?

[2016-01-31 16:33] susnux commented on #61
E.g. this one:
https://build.opensuse.org/package/show/devel:libraries:c_c++/aspell-dictionaries
at current revision revision 47.
(there is a pending request which will fix the causing issues)

[2016-01-31 16:47] scop commented on #61
So I started browsing from that page, trying to find a package that contains non-UTF-8 filenames, and found e.g. this: http://download.opensuse.org/repositories/devel:/libraries:/c_c%2B%2B/openSUSE_Factory/i586/aspell-nb-0.50.10-94.1.i586.rpm

I don't get a crash when rpmlinting that with the current rpmlint master branch, neither with python 2 or 3. I just see the UTF-8 replacement character:

[c

[2016-01-31 19:31] susnux commented on #61
It seems to only appear if you try to write to file not a tty:

    /tmp/rpmlint (git)-[master] % ./rpmlint ~/Downloads/aspell-nb-0.50.10-94.1.i586.rpm > foo.txt                                             :(
    Traceback (most recent call last):
      File "./rpmlint", line 371, in <module>
        main()
      File "./rpmlint", line 160, in main
        runChecks(pkg)
      File "./rpmlint", li

[2016-01-31 19:44] scop commented on #61
Reproduced, thanks. Also, it seems to happen only with Python 2.

[2016-01-31 20:20] scop commented on #61
Code in https://github.com/rpm-software-management/rpmlint/blob/master/Filter.py#L37 exists specifically in order to deal with this issue. I fail to see why it doesn't -- `errors` gets set to `replace` but despite of that the codec seems to behave as it if was set to `strict`. And why does the error message say `ascii` when we've set up `__stdout` using a UTF-8 `StreamWriter`...?

[2016-02-20 23:50] Fak3 commented on #61
The problem is that "s" passed to __print() is object of type "str", not "unicode". Calling s.encode('utf-8') will actually have to decode that "str" to "unicode" (using ascii by default), and then encode resulting "unicode" to utf-8. So this will result in s.decode('ascii').encode('utf-8'). If "s" is a string, that was encoded with, say 'utf-8', then decoding it with 'ascii' will fail with the er

[2016-02-20 23:51] LazyKent commented on #61
I got the same crash.
[code]
The package is: https://build.opensuse.org/package/show/home:Lazy_Kent/outwiker

[2016-02-21 08:33] scop commented on #61
I don't think the cases that actually provoke this crash (non-UTF-8 filenames on UTF-8 systems) would be decodable using `sys.getfilesystemencoding()`.

[2016-02-21 14:40] Fak3 commented on #61
Why do you think that non-UTF-8 filenames provoke the crash? They may be UTF-8. But still you have to explicitly decode it with utf-8. Otherwise ascii is used and you got a crash.
My proposal to decode it in the "__print" function is quite dirty approach. The correct way will be to use only unicode objects throughout all the project, and in those places, where some os.* function returns you str ob

[2016-02-21 16:07] scop commented on #61
Wrt non-UTF-8, well, that's what is reported in this issue. Maybe it occurs with some others too. I agree that using unicode everywhere would be a good fix, but that's pretty far away.

[2016-02-21 22:26] Fak3 commented on #61
Ah, right - if the string really has non-utf8 encoding, then in the dirty solution you can specify 'replace' error handling:

    def __print(s):
         print(s.decode('utf-8', 'replace'), file=__stdout)

[2016-02-22 20:22] Fak3 commented on #61
The problem raised by outwiker is not 'filename-not-utf8', it crashes in the 'cross-directory-hard-link':

[code]
Filenames there are correctly encoded with ut8.
So this is a problem with printing any non-ascii string. (including utf-8)

The original bugreport is about the case when the string to be printed is neither ascii, nor utf8.

[2016-02-23 08:38] #61 closed

[2016-03-13 13:55] StefanBruens opened #66 "chroot/chdir check in BinariesCheck is broken"
https://github.com/rpm-software-management/rpmlint/blob/master/BinariesCheck.py#L227 does not use str.find(...) correctly:

'bar'.find('f') and print("true") -> "true", as find returns -1, which is true in boolean context.

"if 'chdir@plt' in i:" would be correct and is faster

[2016-03-13 14:04] StefanBruens opened #67 "chroot/chdir check in BinariesCheck uses huge amounts of memory"
Pkg.getstatusoutput reads the whole output. As the objdump -d output can be quite large, this is a problem.

libcef (chromium embedded) produces about 1GByte of objdump output. This gets doubled by a temporary copy, and several 100s of MByte are added by the call array. In the end, the python process tops out at about 2.9 GByte.

On 32 bit archs, this lead to a MemoryError exception.

Even when th

[2016-04-13 10:26] verdurin opened #71 "403 error when checking GitHub source URLs"
I'm seeing 403 errors with GitHub source URLs. For example:

`https://github.com/samtools/htslib/releases/download/1.3/htslib-1.3.tar.bz2`

which downloads fine with `wget`.

[code]

[code]

[2016-04-13 10:36] scop commented on #71
rpmlint doesn't (intentionally) download them, it issues a HEAD request to check URL validity. Unfortunately some services decide to respond with 403 or other errors to such requests, like your curl trace shows. I suggest reporting the issue to those services.

https://tools.ietf.org/html/rfc7231#section-4.1

Yeah, one can always discuss what "general-purpose" means, but... meh.

[2016-04-13 10:36] #71 closed

[2016-04-13 10:47] verdurin commented on #71
Fair enough, but would you consider adding a filter exception, like the existing ones for bitbucket etc., in `/usr/share/rpmlint/config`, in the meantime?

[2016-04-13 10:51] scop commented on #71
We (the upstream rpmlint project) don't ship any filters, our `config` is just this: https://github.com/rpm-software-management/rpmlint/blob/master/config. Your `/usr/share/rpmlint/config` probably comes from a distro package.

[2016-04-21 14:44] aborrero opened #72 "about isocodes"
Hi there!

It seems rpmlint tries to download iso-codes at build time (tools/generate-isocodes.py).

In debian, we don't allow packages to have network traffic during build. I've solved this by pointing to static files as deployed by the iso-codes debian package. (BTW, the URLs seems down).

Do you use iso-codes inside rpmlint or just for tests or something? Isn't better to dinamically read iso-co

[2016-04-21 15:06] scop commented on #72
`__isocodes__.py` is generated during build over the network, but only if it's older than `tools/generate-isocodes.py` or missing, see `Makefile`. Neither should be true under normal circumstances.

grepping for `LANGUAGES` shows what we use the data for.

Looks like the iso-codes project has dropped the XML files and will in the future only ship JSON ones. With changes like this possible in the p

[2016-04-21 15:06] #72 closed

[2016-04-21 15:12] scop commented on #72
BTW you can use the environment variables `ISO_3166_URL`, `ISO_639_URL`, and `ISO_639_3_URL` to point to local files if you want to regenerate `__isocodes__.py` during build using them.

[2016-04-21 15:25] aborrero commented on #72
On 21 April 2016 at 17:06, Ville Skyttä <notifications@github.com> wrote:

Well, I found the issue because a 404 against the debian links, so things
happens.

They do ship the XMLs, but in the installed package, not via the URL you
are using.

--
Arturo Borrero González

[2016-04-21 15:26] aborrero commented on #72
On 21 April 2016 at 17:12, Ville Skyttä <notifications@github.com> wrote:

Indeed, see this
https://github.com/aborrero/pkg-rpmlint/blob/master/debian/rules

--
Arturo Borrero González

[2016-04-21 15:35] scop commented on #72
http://anonscm.debian.org/cgit/pkg-isocodes/iso-codes.git/tree/Makefile.am#n6
"For this release, just install the JSON files."

[2016-04-21 19:23] aborrero commented on #72
On 21 April 2016 at 17:35, Ville Skyttä <notifications@github.com> wrote:

Hi Ville,

The code you are pointing to was added several releases ago (check the git
log). I've tested the package today, with the latest version in the Debian
archive and all was fine.

The XML files are there. In understand the comment could be misleading.
--
Arturo Borrero González

[2016-04-27 06:42] scop opened #73 "Suppress only-non-binary-in-usr-lib if there are symlinks to binaries in lib dir"
For example unversioned `*.so` links to versioned binary `*.so.x.y` which are common in devel packages. Either just do this for all such symlinks, or actually examine the target of the symlink to see if it's binary. The latter is cumbersome and would only work for installed packages, while the former might be a bit broad. See https://bugzilla.redhat.com/show_bug.cgi?id=1330804

[2016-04-29 00:48] ignatenkobrain opened #74 "RFE: check gobject-introspection files"
[code]

something like this.. and opposite

`%{libdir}/girepository-1.0/*.typelib` should go not in devel pkg

[2016-04-29 04:55] scop commented on #74
I'm not familiar with gi packaging, can you point me at some references regarding this? Looks like in current Fedora all *.gir are in -devel packages, but there are a bunch of devel packages shipping *.typelib and before adding a check, I would like some confirmation that these are in fact packaging bugs, i.e. that it's always the case that *.gir should go in devel and *.typelib not.

[code]

[2016-04-29 06:21] ignatenkobrain commented on #74
so, `.gir` is just XML file which is used I think when you compile another GI. Usually you use `--include=GObject-2.0` to include another packages which I think will use `.gir` file.

`.typelib` is binary and is used in runtime (e.g. you have in python `from gi.repository import GLib`).

So looks like those few packages (7 actually) have wrong packaging. I'm very surprised about webkit (8th) so I

[2016-04-29 06:38] ignatenkobrain commented on #74
http://pkgs.fedoraproject.org/cgit/rpms/webkitgtk4.git/commit/?id=511ddd84e544d9f8625af26d91c98f58cfe6bade

[2016-04-29 14:27] #74 closed

[2016-04-29 15:05] ignatenkobrain commented on #74
@scop thanks a lot!

[2016-06-29 14:59] ignatenkobrain opened #75 "TypeError: cannot use a string pattern on a bytes-like object"
[code]

python3-magic-5.28-1.fc25.noarch

I guess this is since last update of magic/file.

[2016-06-29 17:06] scop commented on #75
This is already fixed in master, 67543ee0365bb0da37231c1cfaf08a7f4ca0c8bb in particular. Will push a new release in a jiffy.

[2016-06-29 17:06] #75 closed

[2016-07-07 18:49] scop opened #76 "Unicode issues in C locale"
rpmlinting `test/binary/autofs*.rpm` and `test/*/non-utf8*.rpm` in C locale fails with Python 3:

[code]

...and similar issues with the `non-utf8*` ones. Python 2 does not seem affected.

[2016-07-08 07:25] #76 closed

[2016-07-09 06:41] #66 closed

[2016-07-09 06:41] #67 closed

[2016-08-14 20:50] Jibec opened #77 "RFE : AppData checks"
Hi, many projects use AppData files to describe their software with many useful informations

can you please help me to set up a new check ? I have no idea where to start

for example, let's have a look at 0.A.D. spec file :
http://pkgs.fedoraproject.org/cgit/rpms/0ad.git/tree/0ad.spec

here is appdata included in project's package :

[code]

We can at least :
* Check if spec's URL match AppData's

[2016-09-01 08:28] Fale opened #78 "wrong-script-interpreter FILE /usr/bin/env zsh"
It seems like the wrong-script-interpreter thinks that

    #!/usr/bin/env zsh

is an invalid shabang. It seems legit to me

[2016-09-01 08:34] scop commented on #78
`/usr/bin/env` (well actually `env`, no matter which path it is in) is not a valid interpreter for rpm-packaged software per rpmlint's rules. Use an explicit path to the exact actual interpreter you want. Or if you disagree, it is possible to filter the message out with something like `addFilter("wrong-script-interpreter .* /usr/bin/env")` in your rpmlint config.

[2016-09-01 08:34] #78 closed

[2016-11-09 12:37] aborrero opened #82 "debian testsuite failures"
Hi,

it seems the rpmlint testsuite is producing failures in our continuous integration system.

https://ci.debian.net/data/packages/unstable/amd64/r/rpmlint/20161109_032352.autopkgtest.log.gz

The messages:
[code]

Any idea?

[2016-11-11 09:11] scop commented on #82
Which version of flake8 is this with? Please post output of `flake8 --version` (current git master will do that automatically in test.sh). I cannot reproduce these errors with:

[code]

[2016-11-11 09:19] aborrero commented on #82
On 11 November 2016 at 10:11, Ville Skyttä <notifications@github.com> wrote:

flake8 3.0.4+dfsg1-4
python3-flake8 3.0.4+dfsg1-4
python3-pycodestyle 2.1.0-1
python3-mccabe 0.5.2-2
python3-pyflakes 1.3.0-1

cpython and import-order seems missing in the environment.

[2016-11-11 09:24] scop commented on #82
I'll try to look into reproducing this. Could be the newer pycodestyle. But please do post the `flake8 --version` output I asked and not the Debian package versions...

[2016-11-11 09:27] aborrero commented on #82
On 11 November 2016 at 10:24, Ville Skyttä <notifications@github.com> wrote:

doesn't exists.

[2016-11-11 09:30] scop commented on #82
Can't you install the listed packages on your system, and then run it?

[2016-11-11 09:32] scop commented on #82
...or even better yet, add the flake8 --version command to your CI build, and look up the output from the logs. E.g. apply this patch: https://github.com/rpm-software-management/rpmlint/commit/89d19ff79ab4f09384bad331fef08ea647444abd

[2016-11-11 16:12] scop commented on #82
Reproduced, these are new in pycodestyle 2.1.0. Looks like there's no official flake8 version that would support that version of pycodestyle (Debian has it patched), and there seem to be some clear bugs in the combination of the two, so I'm not attempting to "fix" all of these right now.

[2016-11-15 08:58] #82 closed

[2016-11-16 09:14] aborrero commented on #82
Not fixing them will lead to the package being removed from debian due to the freeze approaching. I will try patching the files myself in the package.

[2016-11-16 15:12] scop commented on #82
But all the valid ones are fixed now. They will quite probably vanish from Debian reports as soon as they upgrade to valid combination of fixed upstream versions (flake8 3.2 and pycodestyle 2.2).

[2016-11-17 13:52] onovy commented on #82
fyi: just uploaded flake8 3.2 and pycodestyle 2.2 to debian unstable.

[2016-11-17 20:09] pavlix opened #83 "rpmdiff reports changed size but unchanged checksum"
Maybe I just misunderstood something but how can rpmdiff report difference in *size* and not difference in *checksum* for so many files?

    $ rpmdiff -i T /var/tmp/build-root/standard-x86_64/home/abuild/rpmbuild/RPMS/x86_64/coreutils-8.25-0.x86_64.rpm binaries/coreutils-8.25-4.1.x86_64.rpm
    removed     PROVIDES coreutils(x86-64) = 8.25-0
    added       PROVIDES coreutils(x86-64) = 8.25-4.1

[2016-11-21 15:04] scop commented on #83
I don't know offhand, nor could I manage to reproduce in a quick test. If you have the rpms for which this happens somewhere available for download, I can have a closer look.

[2016-11-21 15:38] dirkmueller commented on #83
So these are directories, right? I've seen that on some.filesystems already as they report not the normal blocksize for disk usage

[2016-11-21 16:44] pihhan opened #84 "False positives reporting missing-call-to-chdir-with-chroot"
Rpmlint reports errors about chroot also in cases, where really no such error is present. It reports for example on bind99-libs package on Fedora 24. It looks for @plt sections in disassembly. But for some libraries, especially on x86_64, they might not be present. If binary links both chroot and chdir AND @plt calls are missing, error is reported. And it is error, not only warning. And is wrong.

[2016-11-21 16:45] pihhan commented on #84
Can be fixed by this:
[code]

[2016-11-22 21:22] pavlix commented on #83
@scop Given the information from @dirkmueller I guess I don't need to upload them...

@dirkmueller Does it mean the RPMs store the size of directories even though it's of zero significance? Should that be changed or should rpmdiff just ignore it?

[2016-11-22 21:27] pavlix commented on #83
Another question is whether it shoudln't at least mark directories so that you know what types of objects it compares.

[2016-12-02 05:59] subpop opened #85 "false positive when checking fsf_wrong_address"
I ran rpmlint on a package and it printed the `incorrect-fsf-address` warning on the [COPYING](https://github.com/freeorion/freeorion/blob/master/default/COPYING) file. I looked into the file, and it appears to have the current address.

When I run the regex against the file manually using `grep` and it does not return a match:

[code]

Is this a false positive?

[2016-12-04 13:25] scop commented on #85
Hard to tell without access to the actual package being checked. Is it available somewhere online?

[2016-12-04 17:25] subpop commented on #85
Yea. It's in the Fedora Updates testing repo. Here is a link to the build page. You should be able to download the x86_64.rpm and the src.rpm. http://koji.fedoraproject.org/koji/buildinfo?buildID=821136

[2016-12-05 08:04] scop commented on #85
The COPYING file you linked to is not the one included in the package; the one in it is an old version of the LGPL 2.1 which does contain an old FSF address.

[code]

[2016-12-05 08:04] #85 closed

[2016-12-06 06:03] subpop commented on #85
I found that. There are two `COPYING` files that I was including as the `%license` in the spec file. One of them does have the old address. Thanks for pointing that out!

[2017-01-01 23:28] Conan-Kudo opened #87 "Pantheon Desktop not recognized by rpmlint"
I got the following lint error during the review of `maya-calendar` for Fedora:

[code]

Pantheon is a registered desktop environment in `desktop-file-utils`, per [this package commit](http://pkgs.fedoraproject.org/cgit/rpms/desktop-file-utils.git/commit/?id=f5cf9f2655919a3819f9aeae755c5feae28c7d7d).

[2017-01-18 13:47] socketpair opened #88 "BuildRequires: libnl3-devel # invalid-build-requires"
This is a bug.

`BuildRequires: libnl3-devel` is not error actually.

[2017-01-19 10:29] trepik opened #89 "Add cassandra user to standrard users"
When I run rpmlint on my package I get this warning:
cassandra.x86_64: W: non-standard-uid /var/log/cassandra cassandra
I think the solution is adding cassandra to the standard users list but I could not figure out where I should do it. Anyone could give me a clue?

[2017-01-19 14:26] deekej opened #90 "Change logic of file version checking"
Hello people,
I'm resubmitting the bug/feature request from Red Hat's Bugzilla [#1399683](https://bugzilla.redhat.com/show_bug.cgi?id=1399683) here:

At the moment, *rpmlint* will complain (display warning) about **unversioned-explicit-provides** for a file with absolute path. If you try to fix this by adding the `%{version}`, then checking again with rpmlint leads to:
`specfile-error error: line

[2017-01-20 15:14] scop commented on #89
If you're using rpmlint shipped by your distro, please file an issue against the distro package. We ship a very minimal list in rpmlint and most likely will not be adding new entries to it. But if you want just your local config to have it, see the `StandardUsers` configuration option.

[2017-01-20 15:14] #89 closed

[2017-01-22 06:33] #90 closed

[2017-01-22 06:35] scop commented on #90
Warning disabled now, thanks for the report. I see no reason to make this one configurable, but remember that unwanted messages from rpmlint can always be filtered out using `addFilter` in your personal or your distro's default config.

[2017-01-24 16:13] junaruga opened #91 "Not detected "patch < %{PATCHX}""
Right now `rpmlint` detects below patch logic in the check section.

[code]

However below logic is not detected.

[code]

Could you implement for `rpmlint` to detect this case too?

I used below spec file to check this.
http://pkgs.fedoraproject.org/cgit/rpms/rubygem-activesupport.git/tree/rubygem-activesupport.spec

[code]

[code]

Thanks.

[2017-01-24 16:55] junaruga opened #92 "New feature SCLCheck check "set -e" in scl macro"
In the case of Software Collection, I want to check if "set -e" exists inside of `scl` macro, if the lines are >= 2 by `rpmlint`.

Because "set -e" is important regarding below document, to catch an error inside of `scl` macro.

https://www.softwarecollections.org/en/docs/guide/#sect-Converting_RPM_Scripts

Below case does not need "set -e".

[code]

However below case needs "set -e" to catch an e

[2017-01-31 10:54] deekej commented on #90
@scop Thank you for pointing that out. I wasn't aware of that. I was forwarded here from Fedora's BZ. I will mention there the option `addFilter` for default config, and for our Bodhi infrastructure as well, if needed. :)

[2017-02-04 15:33] #91 closed

[2017-02-06 12:31] junaruga commented on #92
Hi,
I prepared a script `check_scl_set_e` that may be hint to implement this in `rpmlint`, though I did not implement it for `rpmlint` by myself.
https://gist.github.com/junaruga/b9270cdefad7a53d3e6aacfd4f7ccd74

The scripts check whether `set -e` exists in line number >=2 for each `scl` macro.
For example, below `rubygem-single_test.spec`
http://pkgs.fedoraproject.org/cgit/rpms/rubygem-single_tes

[2017-02-06 12:32] junaruga commented on #91
Thanks!

[2017-02-13 21:46] junaruga commented on #91
@scop
Sorry still rpmlint can not detect it.

[code]

[2017-02-14 09:03] scop commented on #91
Current git version works just fine for me for your test specfile. If it didn't, it would also fail the CI tests we run at Travis. Try invoking `./rpmlint -C . ~/fed/rubygem-activesupport/rubygem-activesupport.spec` in your rpmlint git clone dir.

[2017-02-14 09:08] junaruga commented on #91
@scop

Oh it works in my rpmlint git clone dir! Umm, why..

[code]

[2017-02-14 09:10] junaruga commented on #91
Below works.

[code]

Below does not work.

[code]

[2017-02-14 09:59] scop commented on #91
That's expected. The "not work" commands are not running the rpmlint checker modules from your rpmlint git checkout, but probably from `/usr/share/rpmlint`.

[2017-02-14 10:00] junaruga commented on #91
My python environment as a reference.

[code]

[2017-02-14 10:01] junaruga commented on #91
Oh okay I did not know that.
Thank you.

[2017-04-07 21:26] medington opened #102 "Unable to disable "hardcoded-packager-tag" warning"
My company distributes a product as full CentOS 7.3 based distro. We create our own RPM packages which comprise our proprietary components for use in the product.

We are the packager, and want that info in our final rpm files as shown by `rpm -qi`. I'm working on an initiative to formalize our .spec file format for internal use and want to encourage other RPM authors on the team to use `rpmlint`.

[2017-04-09 10:26] scop commented on #102
Any messages can be filtered out with `addFilter()` in rpmlint's configuration. See the `README.md` and `config` files.

IIRC the value for packager can be set in rpm's macro files.

[2017-04-09 10:26] #102 closed

[2017-04-17 21:40] socketpair opened #103 "Reverse (keys vs values) _python_magic_values"
Since Pythons 3.5.2 and 3.5.3 have different magics. It may be desirable to reverse the dict.

Or, instead of reversing, make code changes to support tuple of magics (as well as single magic) for each Python version in this dict.

[2017-04-19 06:57] scop commented on #103
I'm not sure we want to allow multiple values per X.Y Python version, see the extended description (`rpmlint -I python-bytecode-wrong-magic-value`). Unfortunately there doesn't seem to be a too good solution for this that I can think of right now. @davidmalcolm, thoughts?

[2017-04-19 06:59] scop commented on #103
(BTW I think the magic value changed between 3.5.1 and 3.5.2, not 3.5.2 and 3.5.3.)

[2017-04-19 12:57] davidmalcolm commented on #103
@scop, I'm rather out-of-the-loop on upstream CPython, sorry.

Note to self: the rpmlint test is implemented here:
https://github.com/rpm-software-management/rpmlint/blob/master/FilesCheck.py#L312

The current table of upstream CPython versions can be seen here:
https://github.com/python/cpython/blob/master/Lib/importlib/_bootstrap_external.py#L131

If I'm reading that table right, it looks like t

[2017-04-19 13:02] davidmalcolm commented on #103
For reference, the upstream commit that added the new magic number:
https://github.com/python/cpython/commit/3c317e76a2fe78896b546e08fa753075463e7d41

Given that it's a bugfix; it implies that any .pyc build with the old magic number might be buggy (or might not be) - as far as I can tell, the bug only affects bytecode containing BUILD_MAP_UNPACK_WITH_CALL operations.

Given that, it *might* be be

[2017-04-19 13:09] davidmalcolm commented on #103
Another upstream link: a table mapping *ranges* of .pyc magic numbers to CPython versions:
https://github.com/python/cpython/blob/master/PC/launcher.c#L1077
(for use on Windows, for handling double-clicking on .pyc files, I believe)

[2017-04-19 13:36] socketpair commented on #103
Also note, for real-life:

old bytecode version + new python is OK (it works)
newer bytecode + old python is FAIL (don't work)

The problem may happen if someone builds RPM using Python 3.5.3, and try to install it on system where Python 3.5.2 is installed.

Myabe we should require `Requires: python >= 3.5.3`  if `.pyc`-files compiled using 3.5.3 magic ?

[2017-04-27 22:14] brianredbeard opened #104 "RPM tags being passed as byte not str"
Using `rpmlint-1.9-9.fc25.noarch`:

When setting the following config option, while using a distribution tag of 'Red Hat' in my RPM macros file I am getting the following output from my checks:

[code]

from `config`:
[code]

This does not occcur when using the same RPM + config on RHEL 7 (`rpmlint-1.5-4.el7.noarch`).

[2017-04-28 11:22] #104 closed

[2017-05-04 13:09] stratakis commented on #103
Just a note here.
Python now accepts both magic numbers:
https://github.com/python/cpython/commit/93602e3af70d3b9f98ae2da654b16b3382b68d50

This patch is backported to F24 and F25 and we have updated the interpreter there as well to 3.5.3.

I would think that the best idea for rpmlint would be to support multiple magic numbers for a python version.

[2017-05-05 08:19] #103 closed

[2017-07-06 10:10] Kaveshnikov opened #106 "Support question"
Hi, does rpmlint support python 3?

[2017-07-06 10:17] scop commented on #106
Yes. Dependencies are listed in the INSTALL file.

[2017-07-06 10:17] #106 closed

[2017-08-17 11:07] voxik opened #108 "Add support for -debugsource subpackages"
RPM 4.14+ introduces -debugsource subpakages [[1]]. Unfortunately, rpmlint report this as a warning/error:

[code]

[1]: https://github.com/rpm-software-management/rpm/pull/180

[2017-08-19 08:43] scop commented on #108
I think current master should have already resolved this a couple of weeks ago in 58df0101cdac8dbd5448d6c23d3053e8060f0acd, could you verify?

[2017-09-01 16:00] hroncok commented on #108
I can confirm that on today master (23e5ef1) as well as on top of 58df010, this is fixed:

[code]

[2017-09-01 16:06] hroncok commented on #108
When 58df010 is cherrypicked on top of `rpmlint-1.9`, it also is fixed. Can this please be backported to stable Fedoras? It is especially annoying in Taskotron.

[2017-09-04 04:24] ghost opened #109 "Can output be exported to standard formats like JUnit?"
Can rpmlint output be exported to standard formats like JUnit?

[2017-09-04 05:01] dirkmueller commented on #109
That's more of a question than an issue, isn't it?

I think there is currently no support for that.. do you need it? What would be the use case?

[2017-09-04 05:05] pantocrator27 commented on #109
It is :)

The use case is for running rpmlint on a CI server like Jenkins and using
the standard reporting for reporting using Jenkins.

On Sep 4, 2017 1:01 AM, "Dirk Mueller" <notifications@github.com> wrote:

[2017-09-05 06:42] scop commented on #108
Fedora package related questions are better asked in RH Bugzilla, I don't think spot is watching here. Anyway I just released 1.10, so no need to cherry-pick.

[2017-09-05 06:42] #108 closed

[2017-09-05 07:33] scop commented on #109
Right, currently no support for that exists, and none is planned AFAIK. If someone wants to take a stab at it, here's py.test's --junitxml option related code: https://github.com/pytest-dev/pytest/blob/master/_pytest/junitxml.py (although I think a simple separate shell pipe wrapper script  would cover most if not all of the test cases).

[2017-09-08 08:06] bkabrda opened #111 "rpmlint prints warning if /usr/bin/python is not present"
Hi, I have a mock chroot without /usr/bin/python (fedora-27-x86_64) and rpmlint is printing this warning on every run:

[code]

I tracked this down to this line: https://github.com/rpm-software-management/rpmlint/blob/39467b6962f1b105e3d23c25511c2e74bf8295f0/TagsCheck.py#L438 - the problem seems to be that rpmlint tries to expand the `%python_sitearch` macro, but that fails because `/usr/bin/pytho

[2017-09-08 14:46] praiskup commented on #111
A bit historical report:
https://bugzilla.redhat.com/show_bug.cgi?id=1243292

[2017-09-09 14:40] scop commented on #111
Yep, the bugzilla report still describes the situation and my position on it accurately: possibly a bug, but not one in rpmlint.

[2017-09-09 14:40] #111 closed

[2017-09-09 18:12] praiskup commented on #111
IOW, this is issue in rpm in macros, not rpmlint.  As discussed in the bug, rpm should (a) either not define the %python_site* macros if python is not installed, or (b) have those macros hard-wired, not evaluated with %() or (c) at least the error output should be silenced by 2>/dev/null.

[2017-09-14 10:16] bkircher opened #112 "useless-provides debuginfo, rpmlint runs on debuginfo package?"
Description of problem:
rpmlint reports
[code]

Version-Release number of selected component (if applicable):
rpmlint version 1.10

How reproducible:
Build following spec:
https://raw.githubusercontent.com/bkircher/botan2-fedora/master/botan2.spec

Steps to Reproduce:
1. download SRPM here: https://github.com/bkircher/botan2-fedora/raw/master/botan2-2.2.0-4.fc26.src.rpm
2. build and run `fedora-re

[2017-09-14 10:18] Conan-Kudo commented on #77
This is something I've been thinking about implementing. I recently saw that Debian's lintian has it, and I don't see a reason why rpmlint shouldn't, too.

[2017-09-14 10:19] bkircher opened #113 "rpmlint --explain useless-provides is terrible"
[code]

This is terrible. Any suggestion on what "useless-provides" is actually supposed to prevent?

[2017-09-14 10:45] scop commented on #113
Duplicate Provides, for example `foo` and `foo = 1.0`. Feel free to suggest a better explanation, even better if in a form of pull request :)

[2017-09-16 10:42] junaruga opened #114 "Moving *.py files to rpmlint directory"
There are *.py flies, and other kind of files in the top directory.

Shall we manage *.py files as `./rpmlint/*.py`?
This looks popular style according to below document.
http://docs.python-guide.org/en/latest/writing/structure/#the-actual-module

[2017-09-17 05:23] scop commented on #114
I don't think popularity is a sufficient reason for making it harder to follow e.g. git history of a file.

Sometime rpmlint and its modules should probably be converted to a class/package hierarchy that is properly installed to site-packages, into rpmlint package, by setuptools etc. Then there would be a valid reason to restructure.

[2017-09-17 05:23] #114 closed

[2017-09-23 09:22] ignatenkobrain opened #115 "don't treat #! as shebang in .rs files"
.. until it is executable...

for example,

[code]

it is just options for Rust compiler, not shebang ;)

[2017-10-03 22:41] pkovacs commented on #112
I am seeing these rpmlint errors also in the debuginfo rpm's created by Fedora rawhide (f28).

[code]

rpmlint does not like these debuginfo(build-id) entries and is spitting out the useless-provides error.
You can see the build id in the elf binaries with readelf (below).  rpmlit should not be barking at these.

[code]

[2017-10-24 12:45] Conan-Kudo commented on #115
Eck, really? This is only marginally worse than using C-style comments to declare compiler flags (Go does this...)

[2017-10-24 12:51] dirkmueller commented on #115
this is likely already fixed in 3433a3cc77a05af3a7e0588899f61028b5546e64

[2017-10-24 12:53] jengelh opened #119 "Uppercase check stumbles on digits"
Input package with:
[code]
rpmlint output:
[code]
Good luck trying to uppercase '3'. (`toupper('3') == '3'` already.)

[2017-10-24 12:59] dirkmueller commented on #119
fixed in 63a7d064e9b588c01c2224c261b076cb4cd3e88a

[2017-10-24 12:59] #119 closed

[2017-10-26 10:58] dirkmueller commented on #112
Isn't that an issue of whatever is invoking rpmlint? if rpmlint is invoked to be run on the -debuginfo package, but you don't actually want that, how about not calling rpmlint on the package then?

the other alternative is to addFilter('^\S+-debuginfo:') which would suppress any warnings from those packages.

[2017-10-26 22:44] pkovacs commented on #112
@dirkmueller It might be helpful at least to lower the severity of useless-provides to "warning" rather than "error," so that package maintainers using tools layered on top of rpmlint (e.g. Fedora) can manage their workflow with less friction.  Perhaps the Fedora tooling maintainers could skip over the debuginfo rpms, true, although there may be other errors in those rpms that would be missed as a

[2017-11-04 01:16] dirkmueller commented on #112
another alternative is that we'll just ignore the warning for stuff that starts with debuginfo(

[2017-11-04 01:24] dirkmueller commented on #112
@pkovacs the reason why I think it would be better to skip over debuginfo totally is because there are a million other warnings that don't make sense for debuginfo. for example I have various warnings on unstripped-binary-or-object as well as shared-lib-without-dependency-information on debuginfo.

[2017-11-04 01:26] dirkmueller commented on #112
should be fixed in master.

[2017-11-04 01:26] #112 closed

[2017-11-13 18:30] hobbes1069 commented on #5
There are a lot... I just checked my system with the following one-liner:
[code]

I would like to see this added as a warning so we can catch them as part of package reviews.

[2018-01-12 11:23] jengelh opened #121 "pkgconfig files in /usr/share complain"
In openSUSE:Factory, rpmlint-mini-1.0 says:
[code]
was observed. However, share/pkgconfig files do not count as development.

[2018-01-18 14:32] smithfred opened #122 "RFE: switch to exit with non-zero status if warnings issued"
It would be great to have a switch (e.g. `--strict` or `--fail-on-warnings`) that caused any warnings to result in a non-zero exit code. I couldn't find any existing option for this.

Currently:
[code]

With a new switch:
[code]

This would be useful for (interactive) scripting, to avoid having to parse the rpmlint summary (e.g. to implement a "linting warnings, continue?" feature in a script).

[2018-02-13 07:59] hroncok opened #123 "Python 3.7.0b1 bytecode magic value"
python37.i686: E: python-bytecode-wrong-magic-value /usr/lib/python3.7/__pycache__/...cpython-37.pyc expected 3390 (3.7), found 3393 (unknown)

Should be added I guess. I don't seem to be able to find a reliable source to verify the number :(

[2018-02-13 08:02] hroncok commented on #123
Ah, https://github.com/python/cpython/blob/da6c3da6c33c6bf794f741e348b9c6d86cc43ec5/Lib/importlib/_bootstrap_external.py#L245

[2018-02-13 12:54] #123 closed

[2018-02-17 07:53] praiskup opened #125 "RFE: accept also "$(dirname "$specfile")/.rpmlintrc" config file"
Seems like only .rpmlintrc from home directory has been accepted so far, but it would be nice to be able to ignore rpmlint  warnings on per-package basis.

[2018-02-17 08:00] praiskup commented on #125
For security reasons, `.rpmlintignore` with list of regular expressions would be a better approach?

[2018-02-18 03:31] Conan-Kudo commented on #121
@jengelh Why are they not considered as development files? `pc` files are _exclusively_ used by software build systems, such as Autotools, Meson, and CMake. I know of no tooling to leverage `pc` files in a non software development case.

[2018-02-18 03:33] Conan-Kudo commented on #113
It's not really "preventing" anything. It's informing you that you have duplicate declarations of the same base information.

I don't see anything wrong with it. I'm happy to consider PRs with better wording, though.

[2018-02-18 03:33] Conan-Kudo commented on #88
Context?

[2018-02-18 03:34] Conan-Kudo commented on #49
There's now even more rich dependencies as of RPM 4.14...

[2018-02-18 15:05] dirkmueller commented on #113
I think we should update the explanation (I think I have a patch for that somewhere)

[2018-02-18 15:06] Conan-Kudo commented on #113
@dirkmueller Alright then, looking forward to that. ;)

[2018-02-18 16:35] Conan-Kudo commented on #125
I don't want any dotfiles for this. They should be fully visible. My feeling is that it should be `<srcpkgname>.rpmlintrc`.

As for where the file is or its name, as far as I'm aware, rpmlint itself doesn't care. This is up to the tools that automatically run rpmlint.

[2018-02-18 22:44] praiskup commented on #125
Dotfile is perfectly fine with me... it is low priority file which not everyone is interested in;
same as pylintrc, .gitignore, etc.

Though it shouldn't be python "evaluated" file, since it is insecure.  One could get malicious
code executed without noticing.

[2018-02-19 13:07] mcepl opened #126 "rpmlint decided that this file is an executable"
It has has mode 644 (and it is not compressed in reality, I have gzipped this, just so that it can be attached here).
[README.gz](https://github.com/rpm-software-management/rpmlint/files/1736848/README.gz)

[2018-02-20 15:50] herrold opened #127 "RFE: font files under Fedora / Gnome require a %check stanza of specified form"
This mailing list thread:

[code]

and earlier:

[code]

so: this:

[code]

[2018-03-01 16:02] hroncok opened #128 "python-bytecode-inconsistent-mtime gives bogus result with Python 3.7 bytecode"
The bytecode for 3.7 has changed and the way rpmlint tries to read mtime from the file is now bogus. See also https://bugzilla.redhat.com/show_bug.cgi?id=1550562

I'll try to prep a fix.

[2018-05-30 13:34] #128 closed

[2018-06-07 12:35] Conan-Kudo opened #134 "Support skipping warning checks and only evaluate checks that result in errors"
In cases where rpmlint is operating as a post-build check, sometimes the load from warnings is too much to consume. We should have a capability to just only run critical checks that result in errors so that rpmlint is faster and gives more focused feedback in those cases.

[2018-07-09 14:16] hroncok opened #137 "W504 line break after binary operator"
flake8 from Fedora rawhide (i.e. import-order: 0.17.1, mccabe: 0.6.1, pycodestyle: 2.4.0, pyflakes: 2.0.0), reports:

[code]

Should this be fixed (it's an easyfix), or ignored? I can do both.

[2018-07-11 20:33] Conan-Kudo commented on #137
@hroncok Fixes welcome. :)

[2018-07-11 20:34] hroncok commented on #137
OK. Will do.

[2018-07-11 23:04] dirkmueller commented on #137
I blacklisted it in 49b7256 - sorry didn't see this issue in time for referencing.

Reason is that I couldn't change to break before operator as that triggers W503. And reworking everything to neither break before nor after a binary operator seems pretty invasive atm.

[2018-07-12 11:46] Conan-Kudo opened #143 "Dropping Python 2 support"
Python 2 will be EOL/EOS by PSF on January 1, 2020.

Today, rpmlint is Python 2/Python 3 compatible, but Python 2 restricts us from making some interesting enhancements to improve rpmlint.

A survey of the top Linux distributions using RPM indicates the following:

|    Distribution    | RPM Version | RPMLint version | Python 3 available | RPM bindings for Python 3 available |
|-------------------

[2018-07-12 12:10] #137 closed

[2018-07-12 12:58] scarabeusiv commented on #134
I tried to kinda draw the logic how it could behave in order for the threading to work:

![20180712_145415](https://user-images.githubusercontent.com/1055830/42634619-f67e4fec-85e3-11e8-9551-d4641ae5a2ef.jpg)

Basic logic is to have testIDs prior we start doing anything, then load all data to memory and in parallel run all area checks and in them all individual tests that are enabled in threaded m

[2018-07-12 15:03] Conan-Kudo commented on #134
That sounds pretty solid and should speed things up considerably. I'm guessing there'd be something to queue up the results so they can be printed in some kind of ordered fashion?

[2018-07-12 17:13] scarabeusiv commented on #134
That could be done in a buffer you store all the errors and results to be printed just at the end.

[2018-07-12 17:19] scarabeusiv commented on #134
Also with this layout we can have every distro related thing in here while it can be disabled/adopted by the other distributions :)

[2018-07-12 19:20] scarabeusiv commented on #134
We should also optimize the extractor as we spent a lot of time unpacking content from cpio archives.

[2018-07-12 19:57] dirkmueller commented on #143
I would suggest to do a release of the current state prior removing python 2.x support. There are a ton of small bugfixes that haven't been released and both setuptools as well as moving to python 3
.x only is some reworking that will take some time.

So my suggestion instead of 'remove it for the next release' my suggestion is to remove it 'after' the next release, and do the release from current

[2018-07-12 19:57] dirkmueller commented on #143
+1 on the plan overall, it is time to cut out python 2.x support after the next release.

[2018-07-12 20:18] dirkmueller commented on #134
I'm trying to understand the primary objective here. It seems it is performance, e.g. reducing runtime in certain contexts, e.g. in our post build validation.

In my python profile runs, the runtime of more than >90% of the individual tests is in  the noise. The bulk of time is spent on rpm unpacking, file(1)/magic determination and all the binariesdump stuff like the objdump madness. My suggestio

[2018-07-12 20:21] dirkmueller commented on #134
An area worth investigating is whether we can parallelize the rpm unpacking or file(1) determination. That would have quicker return on investment.

[2018-07-13 10:09] scarabeusiv opened #146 "Add more project code checkers"
Just checking spec-cleaner it might be nice to add coveralls and friends like:

https://app.codacy.com/project/scarabeusiv/spec-cleaner/dashboard
https://landscape.io/github/openSUSE/spec-cleaner/345
https://coveralls.io/github/openSUSE/spec-cleaner?branch=master

To have some pretty badges :)

[2018-07-13 10:09] scarabeusiv commented on #146
This needs to be done by someone with access to project settings here on github

[2018-07-13 10:28] Conan-Kudo commented on #143
Python 2 support has been dropped in b8b78ec002599c8145488fa208f3e668d0b7a802.

[2018-07-13 10:28] #143 closed

[2018-07-13 11:01] scarabeusiv opened #148 "Cleanup after tests"
When messing around with the tests I just noticed we happen to leave around quite a mess in /tmp we should be polite and cleanup.

[2018-07-13 11:30] scarabeusiv commented on #126
Add minimal rpm file here exhibiting the issue:

https://github.com/rpm-software-management/rpmlint/tree/master/test/binary

Then put test in test/test_files.py where just copy the behaviour ie from test_python_bytecode_magic.

[2018-07-13 13:14] scarabeusiv opened #150 "Config parsing is fragile"
We need to make config normal class which can be then loaded by all other objects.

We should really remove all the global variables usage to minimum as it causes fun like:

https://github.com/rpm-software-management/rpmlint/pull/149/commits/27af0ec4bb37ef6b637d3cf4e44937d12ed2932f

[2018-07-14 09:12] scarabeusiv commented on #150
I will create class that loads up the config and write tests for it.

The class will have init that will read up all the configs in following order:
/etc/rpmlint/*config
$XDG_HOME/rpmlint/*config <- use python-xdg to determine the values
Config passed as arguments

Now 2 questions:
1) should we parse /usr/share/rpmlint/*config - old location
2) Is it safe to load up the config this way or could so

[2018-07-14 09:34] scarabeusiv commented on #150
Also I just checked all the value options in configs and we can safely use configparser to read it from .cfg file so for the option 2 let us use configparser.

Big disadvantage is that we will require others to convert their existing configs, but on the long run it should be safe.

Checking the configs in fedora/suse some of the options should be actually changed to load up datafiles like i do wit

[2018-07-19 16:27] scarabeusiv opened #152 "Filter.py needs to be class"
As I created the config as the object to be properly passed around and inherited we need to have same on the other end when printing out. Because otherwise the config parsing is pretty hard to get the results.

Simply most of the calls will be wrapped in the object and that will be used by the checkers.

As a benefit we will store all results in a structure to be decided on printing format at the

[2018-07-20 10:28] scarabeusiv opened #154 "Load up new-style rpmlintrc that is regular configobj"
We need to make sure we can load both styles of rpmlintrc old-one which was python executed and new one that is normal ini.

Old syntax is now parsed with (after the configupdate gets merged):
https://github.com/rpm-software-management/rpmlint/pull/151/commits/699ec5e4981c6a4fa2f3e3a3d0af69fcaa54ec9e

[2018-07-20 10:30] scarabeusiv opened #155 "Make diff and lint normal classes that have entry points"
Instead of regular objects convert lint and diff to classes with entrypoints.

This also means cleanup in lint and usage of argparse/etc.

[2018-07-20 10:31] scarabeusiv commented on #125
I wrote logic for loading old configs here https://github.com/rpm-software-management/rpmlint/pull/151/commits/699ec5e4981c6a4fa2f3e3a3d0af69fcaa54ec9e

Possible question is if the rpmlint should do this on its own or if we leave it as another config passed as -f. If changes to be done should go when doing issue#155.

[2018-07-24 10:31] scarabeusiv opened #156 "All the objects we have in place should have some basic tests"
We don't have any basic testcase validating various of the files, I will add it here whenever I notice and then we should write down some basic checks for them to ensure sanity.

- [ ] ConfigCheck.py

[2018-07-25 10:55] scarabeusiv opened #157 "Add configurations for rpm distros and test them"
Have rpmlint defaults for all major distros Fedora/SUSE/Mageia/etc.
With that make sure we can verify the behaviour of rpmlint stays sane with whatever config we loaded.
Also we can this way have distro specific tests validated when we load the desired config.

This could make ie openSUSE rpmlint-checks and test repository merged here while not adding extra burden for the other distributions.

[2018-07-25 11:19] scarabeusiv opened #158 "Kill getstatusoutput in Pkg.py"
This is tweaked function from command py2 module, it was obsolete in py3, we should just use subprocess like normal projects.

[2018-07-30 11:58] scarabeusiv commented on #156
In signature check we have test that outputs whitespace garbage while it should not and should be part of the signature check:

[code]

[2018-07-30 13:25] scarabeusiv opened #159 "Redo test abstraction to keep them smaller"
Most of the current rpmlint tests are lot of copy&pasto, it should be way easier to write new test.

For the duplication see the test_scl.py

[2018-07-31 15:12] scarabeusiv commented on #152
Done

[2018-07-31 15:12] #152 closed

[2018-07-31 15:13] scarabeusiv commented on #150
Done

[2018-07-31 15:13] #150 closed

[2018-07-31 15:13] scarabeusiv commented on #154
Done

[2018-07-31 15:13] #154 closed

[2018-08-02 19:55] scarabeusiv opened #162 "Move the checks to checks subfolder"
As I am doing changes to the structure it might be way wiser to have checks completely away from the rpmlint logic itself.

[2018-08-03 11:25] #162 closed

[2018-08-03 11:25] #159 closed

[2018-08-03 11:26] Conan-Kudo commented on #157
So this probably wouldn't be too difficult to do for Fedora and Mageia, since both distributions use the base set of checks and contribute their check extensions upstream, but openSUSE would be very difficult at present.

[2018-08-03 12:07] scarabeusiv commented on #157
Yep I will simply add the suse checks and add the tests, there is no actual reason to not have them here as they simply won't be imported, and if anyone decides to import them they can.

Also with that we can be safe in expecting that the distros can use the rpmlint right away without any excessive patching, and I know we have ton of it in openSUSE...

[2018-08-14 12:38] Conan-Kudo opened #165 "Put license header in all rpmlint files that lack it"
rpmlint is licensed under the terms of the GNU General Public License, version 2 (some might be v2 or later), but not all files indicate as such. We should put it on every file so that the licensing remains obvious.

[2018-08-14 13:03] scarabeusiv commented on #165
DocFilesCheck.py - GPL2.0 only
Diff.py - GPL2.0-only

Rest is gpl2.0+. Maybe we could ask the guys to allow us to have there + as well and we can ever relicense even to gpl3.

Also I've checked and the license string is quite long to put in each individual check file:
[code]

[2018-08-14 13:03] scarabeusiv commented on #165
With that I would propose we put the snippet only to the gpl2 only files for now if we won't get them relicensed and later on only in __init__.py which is standing in as the entrypoint.

[2018-08-14 13:06] scarabeusiv commented on #165
For the rpmdiff I wonder if the gpl2.0 only is kosher as it is introduced by this c7e3a4be465be79c9f9aee599aa028ed497d22b0 which seems to rewrite only part of the code and suddenly declares it gpl2.0 only.

[2018-08-14 13:10] scarabeusiv opened #166 "Add dumpconfig option"
The new config class can print out the current configuration state, which is quite helpful for debugging.

As such when redoing the rpmlint to entrypoint add another option to dump the configuration for user to review.

[2018-08-14 13:12] Conan-Kudo commented on #165
That relicensing was most likely not kosher, so it should be reverted to GPLv2+.

I'd prefer GPLv2+ or LGPLv2+ over alternatives, simply for maximum compatibility.

[2018-08-14 15:09] scarabeusiv commented on #46
this was merged in.

[2018-08-14 15:09] #46 closed

[2018-08-14 15:13] scarabeusiv commented on #28
Was closed previously on SF as wontfix.

[2018-08-14 15:13] #28 closed

[2018-08-14 15:14] scarabeusiv commented on #49
This is quite doable as we already have the parser in spec-cleaner/dependency_parser.py

[2018-08-14 19:21] #43 closed, assigned to scop, scarabeusiv

[2018-08-15 07:44] scarabeusiv commented on #146
For coveralls we need to figure out how to sent the data from docker container.

Landscape refuses to see the rpmlint as we need to give it some group access...

For codacy I will create PR with the badge and I've enabled it.

[2018-08-17 15:45] spotrh opened #169 "config file /etc/rpmlint/config has no man page"
As reported here: https://bugzilla.redhat.com/show_bug.cgi?id=1612255

If a man page was created for the rpmlint config file syntax, it would result in a 100% pass of this test.

I am closing the bugzilla ticket and leaving this open, since if this man page is added upstream, we will inherit it into Fedora.

[2018-08-18 07:36] scarabeusiv commented on #169
Actually we have to update the other manpages too as we move to argparse processing.

Hmm maybe easiest way would be help2man...

[2018-08-18 07:37] scarabeusiv opened #170 "Bash completion needs to be refreshed after the argparse move"
When we switch to the argparse we need to update the completion module to work again.

It looks like magic to me so we need to find someone who can write one :)

[2018-08-22 08:57] scarabeusiv opened #172 "Pkg.py cat wrapper should be implemented in python"
Pkg.py atm does extract few known archives and then runs cat on the file to run various check on the text content of it.

Should be separated to another module and tested using native python. All the operations can be done by the native python without launching any subprocess.

[2018-08-24 12:54] scarabeusiv commented on #146
I've asked via github interface for covealls access to the group, with that we can use it to collect stats on this repo.

[2018-09-07 18:08] jccleaver commented on #44
Well, it's been a while... but this is still a feature that I think has some merit. While Fedora'a packaging guidelines state to assume bash as /bin/sh, that's a) not really technically proper, and b) not great for other users of 'rpm' that might have other ideas about /bin/sh.

Running this and having the result be either Informational or a Warning (perhaps as an rpmlint compile or runtime option

[2018-09-15 14:17] scarabeusiv opened #176 "Redo the rpmdiff behaviour?"
With difflib from python core we could generate unified diff look alike for the rpm changes instead of printing added/removed....

Do we happen to have some set requirements for what rpmdiff should actually do?
Also some of the file attributes diffing is dependant on the underlying FS so it might be good idea to create tmpfs where we would do the files comparison...

[2018-09-15 14:18] scarabeusiv commented on #176
@dirkmueller @Conan-Kudo What would be your opinions on the above? Also note that any changes in the cli interface will have to come when I finish with reducing the pkg.py blobie.

[2018-09-15 14:38] Conan-Kudo commented on #176
I like the idea of a unified diff-style view, as it's something people can easily comprehend on changes.

Could we also do that for RPM payload information (metadata, deps, etc.)?

[2018-09-18 11:28] scarabeusiv commented on #10
This got fixed by the migration to setuptools, as such it simply uses the default paths as passed on commandline.

[2018-09-18 11:28] #10 closed

[2018-09-19 10:29] scarabeusiv commented on #148
Actually after digging out we have ExtractDir config option that defaults to tmpfiles generator if not defined, yet it is not used actively among most of the tests -> this will need to be tweaked up.

[2018-09-19 12:56] scarabeusiv commented on #165
As the blurb was merged this can be closed.

[2018-09-19 12:56] #165 closed

[2018-09-19 12:57] scarabeusiv opened #179 "DocFilesCheck.py - GPL2.0 only"
We have whole package licensed as GPL-2.0+ yet DocFilesCheck states itself as gpl-2.0-only and there is no way to contact the author of it (dead emails everywhere).

As such someone should rewrite it in order to have the whole rpmlint under one license only.

[2018-09-19 13:03] scarabeusiv commented on #127
This mostly is done already in https://github.com/rpm-software-management/rpmlint/blob/master/rpmlint/checks/AppDataCheck.py

Problem is that we are not checking the metainfo folder for the validity nor we have any tests for the appdatacheck to ensure it is working either...

[2018-09-24 07:46] simotek opened #180 "Reject opensuse-packaging@opensuse.org in changelogs"
This is one to add once the openSUSE stuff is in better shape. Basically a bunch of obs bots use opensuse-packaging@opensuse.org in changelogs which is wrong for a number of reasons, such as people not knowing who to contact and because it occasionally generates emails to that list.

[2018-09-27 11:28] Conan-Kudo opened #182 "Switch configuration from ConfigObj to TOML"
ConfigParser is a somewhat wobbly format for configuration, and it gets tricky for dealing with some of the config we actually have in here.

I'd like for us to change our configuration settings from configparser to [TOML](https://github.com/toml-lang/toml) using [tomlkit](https://github.com/sdispater/tomlkit) to simplify things.

[2018-09-27 11:30] scarabeusiv commented on #182
I am fine with that, now that the whole thing is covered in tests it should be quite okay, I just never used toml, and the configparser I used because it was used by openstack stuff.

[2018-09-27 11:31] Conan-Kudo commented on #182
The Python and Rust communities seem to be moving towards preferring it for "simple" configuration (which I admit, I'd like to have rpmlint's configuration be simple).

[2018-09-27 11:33] scarabeusiv commented on #182
Well i already reduced the stuff that could've been configured :P
But anyway it could be done, as long as we can keep the dictionary internal stucture we are fine.

[2018-09-27 11:34] Conan-Kudo commented on #182
Internal representation of TOML is JSON-like, so I don't see a problem with being able to maintain that.

[2018-10-24 11:42] ekohl opened #183 "False positive on comments in macros"
In our spec we have the following line which triggers two warnings:
[code]

[code]

The exact line is at https://github.com/theforeman/foreman-packaging/blob/902e40846b68ba4f4fea20621ed51e858d1210c9/packages/foreman/foreman-proxy/foreman-proxy.spec#L74-L75

The problematic code is at https://github.com/rpm-software-management/rpmlint/blob/a87b6a9083ec26b31cf0f6018e2d1324aad5ead2/rpmlint/checks/Spe

[2018-11-16 10:14] dirkmueller commented on #180
Thats not an issue in the upstream rpmlint project. if you want to have suse specific checks implemented, please file a suse bugzilla.

[2018-11-16 10:34] dirkmueller commented on #179
I found a working email address and asked for relicensing.

[2018-11-16 14:08] ensc commented on #179
I am ok with relicensing to GPL-2.0+.

[2018-11-16 14:42] scarabeusiv commented on #179
Splendid, thank you!

[2018-11-18 16:19] scfc opened #190 "rpmdiff leaves behind two temporary directories when comparing source RPMs"
When running `rpmdiff /path/to/1/pkg.src.rpm /path/to/2/pkg.src.rpm`, `rpmdiff` leaves behind two temporary directories `/tmp/rpmlint.pkg.src.rpm.$random`.  These directories should be removed when `rpmdiff` finishes.

This may be a duplicate of issue #148.

[2018-11-20 10:01] dirkmueller opened #191 "Create 1.11 maintenance release"
the rpmlint-1.x branch has accumulated quite a bunch of bugfixes over the last year, we should release them. created a milestone-1.11 release tracker, please tag appropriately outstanding issues.

[2018-11-28 13:45] marxin opened #192 "Investigate usage of pyelftools for binary checks"
https://github.com/eliben/pyelftools

[2018-11-28 13:45] marxin commented on #192
@scarabeusiv

[2018-11-28 13:49] scarabeusiv commented on #192
As I discussed with Martin we need to check up if we could use something python-ish rather than sticking to calling readelf in binaryinfo object. So lets try that.

[2018-11-28 13:50] scarabeusiv commented on #190
Yep, that is exactly the same thing, the pkg.py is really weirdly managing its tempfolders, but without the refactoring being finished it does not make sense to track it twice so I shall close your ticket for now.

[2018-11-28 13:50] #190 closed

[2018-12-03 11:10] simotek commented on #180
@scarabeusiv asked me to create it here as his aim is to reduce the difference between SUSE's config and upstream in the next release.

[2018-12-06 08:18] scarabeusiv commented on #180
Yea I plan to do this when we get to merge the stuff with issue #157 and follow up here.

[2019-01-09 22:57] Conan-Kudo commented on #179
This was fixed a while ago...

[2019-01-09 22:57] #179 closed

[2019-01-12 19:38] dirkmueller commented on #191
Released.

[2019-01-12 19:38] #191 closed

[2019-01-14 14:53] mcepl commented on #182
Well, just that's another external dependency. What's so wrong with ``configparser`` (or JSON for that matter) exactly? “It is going out of fashion” doesn't seem like a sensible reason to me.

[2019-01-14 15:00] Conan-Kudo commented on #182
The issue with configparser vs TOML is that the former has slightly undefined behavior. It also makes it easier for other tools to be able to reliably parse and generate our configuration programmatically, since we're using a fully defined configuration format.

[2019-01-15 07:57] scarabeusiv commented on #182
Well the most important part is that we use ConfigObj from cloud peepz and it is bit dead compared to TOML.
Sadly direct usage of configparser sucks in storing arrays and subclasses.

[2019-01-15 10:06] mcepl commented on #182
JSON?

[2019-01-15 11:10] scarabeusiv commented on #182
Well take look on the structure and testsamples, we have to either have per module config or subclasses.

[2019-03-10 10:51] hroncok opened #198 "locale.Error: unsupported locale setting"
https://github.com/rpm-software-management/rpmlint/blob/0736424e8bc8ccfec16765458d21df059ba2f2a1/scripts/lint.py#L74

This line can cause an exception if certain conditions are met.

If I run rpmlint in mock that doesn't have all locales by default and my locale is not explicitly installed into that mock, I get:

[code]

This is the commit that added the line:

6f4af3cd65b0ccdab7455e3fbe8ff9947b97

[2019-03-10 10:56] hroncok commented on #198
https://github.com/rpm-software-management/rpmlint/pull/199

[2019-03-10 19:12] #198 closed

[2019-03-12 12:31] hroncok opened #201 "RFE: Warn if HTTPS is available but not used"
Could we add a warning if http:// URL (or source or patch) is used, but https:// would work?

I might even work on this, but only if there is a consensus that it would be accepted.

I'd add it into https://github.com/rpm-software-management/rpmlint/blob/569c35a74f4461b44209f329992dca68e0fc4680/rpmlint/checks/AbstractCheck.py#L60

The warning could be `non-https-url`

[2019-03-12 13:43] scarabeusiv commented on #201
The question is usefulness of this check as a whole honestly. Because we try to have the rpmlint self-contained I was actually planning to extract this online check away to separate or even delete it.

In general I just looped all the stuff we have in openSUSE Tumbleweed that points to http if it could point to https and <300 packages errored out. That means out of 130000 packages we could just te

[2019-03-12 13:48] hroncok commented on #201
I'd like to tell people to use HTTPS. If this doesn't get accepted to rpmlint, I'll try fedora-review instead. And if it's not accepted there either, I can live with that.

[2019-03-12 15:24] hroncok commented on #201
I don't want to warn people to use https if https is not available on that URL.
That is essentially a non-actionable warning.
We can fallback to that if offline.

[2019-03-13 09:51] scarabeusiv commented on #201
Okay, in that case I agree with what you want to do. If you feel like it you can also split it to separate check that can be loaded as needed instead of being part of the base class :)

[2019-04-15 16:43] spotrh opened #202 "decode('UTF-8') is not correct."
As filed here: https://bugzilla.redhat.com/show_bug.cgi?id=1699789

RPM Python binding started to warn on calling decode() on non-byte strings to
in order to make the Python 3 binding Unicode-correct. It seems that
rpmlint-1.10-22.fc31.noarch uses the bogus decode() method:

$ rpmlint -f perl-Socket.rpmlintrc perl-Socket-2.029-2.fc31.src.rpm
/usr/share/rpmlint/Pkg.py:168: UnicodeWarning: decode()

[2019-04-17 11:08] scarabeusiv commented on #202
Hi, looking at the code it is partialy bogus. The code in 1.10:
https://github.com/rpm-software-management/rpmlint/blob/rpmlint-1.10/Pkg.py#L166

Currently it is still present and it is used just to check if it is utf8 or not so we even want the exception:
https://github.com/rpm-software-management/rpmlint/blob/master/rpmlint/pkg.py#L144

Honestly that detection still needs to be redone anyway and

[2019-04-24 18:01] frozencemetery opened #204 "Please expand dictionary"
Hi, if rpmlint is going to flag spelling errors, I'd really like a better dictionary.  For instance, in [this run](https://taskotron.fedoraproject.org/artifacts/all/65de2d28-66ab-11e9-833e-52540077ca13/tests.yml/krb5-1.17-14.fc30.log), it's flagged "unencrypted" as a misspelling of "encrypted".  Thanks!

[2019-04-25 07:32] scarabeusiv commented on #204
Could you please try it with the master branch, it should behave better and use the myspell dicts that you use ie in libreoffice/firefox.

[2019-04-25 18:15] frozencemetery commented on #204
I see this problem with master as well:

[code]

[2019-04-26 08:46] scarabeusiv commented on #204
Well you are still executing the rpmlint 1.10 from your distribution.

If you did the git clone you have to call the script directly. Ie `PYTHONPATH=. ./scripts/lint.py <MYRPM>`

[2019-04-26 17:38] frozencemetery commented on #204
No, you can see what it's the one I just installed from the output of `which rpmlint` above - shows I'm using the one installed in the virtualenv.  That's why I included that part.

[2019-04-27 13:21] scarabeusiv commented on #204
Well, your approach still does not work. Rpmlint is now at version 2.0.

`scarabeus@bugaboo: ~/remote/rpmlint $ PYTHONPATH=. ./scripts/lint.py --version`
`rpmlint version 2.0.0`

[2019-04-29 16:07] frozencemetery commented on #204
Your installer is broken.  If that's considered acceptable, well... I don't use this software directly anyway.,

[2019-04-29 16:07] #204 closed

[2019-04-30 16:59] hroncok commented on #201
I'm afraid I wouldn't know how to do this. I'll try to extend the existing check and see where would that lead me.

[2019-04-30 22:32] hroncok commented on #202
So until the change in Python RPM bindings, this was bytes, so we tried to decode it and if ti works, we are good.

Since the Python RPM bindings chnage, the decode is esentialy a no-op, so this returns True and detects nothing. This API change also leads to (on 1.11):

[code]

[2019-04-30 23:32] hroncok commented on #202
To the original is_utf8_bytestr problem: In the new API, the thing is UTF-8 decoded, errors-surrogateescaped Unicode string such as this:

[code]

In order to check whether an unicode string has surrogates in it, [there is an RFE](https://bugs.python.org/issue25269). We can try to *encode* it:

[code]

So in order if an RPM returned header is indeed UTF-8 OK we would need to do something like this

[2019-05-06 07:25] scarabeusiv commented on #202
Yea that looks lovely, and probably the shortest way to fix it :(

[2019-05-06 08:32] #201 closed

[2019-05-27 15:28] hroncok opened #206 "RFE: rpmdiff exclude paths"
I am often swamped by the follwoing output of rpmdiff:

[code]

And would like to be able to filter certain paths out with an option. As a workaround, I pipe the output to grep.

[2019-05-28 07:10] scarabeusiv commented on #206
That sounds pretty sensible. Atm one of the things I would like to do is switch rpmdiff to use python difflib and have nice unified diff to make it prettier as per #176

[2019-05-28 09:54] hroncok commented on #206
Since we already have `--ignore`, I propose `--exclude`.

I'm not sure whether it should take:

 * prefix - easiest to use, not powerful enough for all the use cases
 * regex - super powerful, yet a bit unconventional on the CLI for paths
 * path glob - powerful enough, conventional on CLI

[2019-05-28 11:29] scarabeusiv commented on #206
I would say that the globs are best choice as it is how the other apps do path excluding.

[2019-05-28 11:30] hroncok commented on #206
ack. Please assign me, I'll send a PR.

[2019-05-28 11:32] hroncok commented on #206
I'll make it path glob, but if you exclude a directory, it excludes everything within. That seems easier to use than globbing `/usr/lib/.build-id/*/*`.

[2019-05-29 06:59] scarabeusiv commented on #206
On the directories it makes sense to exclude them by path only indeed.

So if we would go examples route it would look like:
[code]

[2019-05-29 07:08] hroncok commented on #206
https://github.com/rpm-software-management/rpmlint/pull/207

[2019-06-21 14:48] spotrh commented on #202
Worth noting that this issue is now causing rpmlint to fail to run in Fedora rawhide:

https://bugzilla.redhat.com/show_bug.cgi?id=1722868

[2019-07-02 12:05] EvaSDK opened #210 "Missing dependency on rpm"
[code]

[2019-07-02 12:09] EvaSDK commented on #210
I see this is shipped with the rpm source code now. A bit annoying but ok.

[2019-07-02 12:09] #210 closed

[2019-07-03 22:13] hroncok commented on #202
OK, I wanted to work on this, but I have zero idea how to test rpmlint from a git checkout.

This is what I've tried:

[code]

[2019-07-03 22:35] hroncok commented on #202
I've commented that part out and I was able to come up with https://github.com/rpm-software-management/rpmlint/pull/212

[2019-07-03 23:16] hroncok commented on #202
with rpm 4.15, I also had to change https://github.com/rpm-software-management/rpmlint/blob/0565ecdaa95dad2a2ae63e9bda521deb2334f910/rpmlint/checks/PostCheck.py#L59

to

[code]

Since the script is now unicode.

[2019-07-04 09:41] #202 closed

[2019-07-12 08:54] scarabeusiv commented on #146
Well as the perms go I've added lgtm badge, so that should be good enough TM for now :)

[2019-07-12 08:54] #146 closed

[2019-07-15 11:11] scarabeusiv commented on #166
Actually there is now an option to dump the config in rpmlint I added with the rewrite commit 733c6fdf5786f00c6d68d058717794e35a5521d7

[2019-07-15 11:11] #166 closed

[2019-07-15 11:13] scarabeusiv opened #216 "Support threaded execution"
When loading up and validating stuff we should make everything run in multiple threads and print out status progress as it can take quite time ie when scanning libreoffice stack. Basically the code at https://github.com/rpm-software-management/rpmlint/blob/master/rpmlint/lint.py#L66 should be threaded.

[2019-07-26 10:54] mcepl opened #220 "DisallowedDirs should include /proc and /run"
We really shouldn’t let anybody install there.

[2019-07-26 11:01] scarabeusiv commented on #182
Commited in.

[2019-07-26 11:01] #182 closed

[2019-07-26 11:06] scarabeusiv commented on #155
This is now in master.

[2019-07-26 11:06] #155 closed

[2019-07-26 11:07] scarabeusiv commented on #192
Martin is now looking in redoing the binariescheck to have better approach to this.

[2019-07-26 11:10] scarabeusiv opened #222 "Move the description dictionaries from code to toml files aside"
This will ease the logic in the packages where we can faster load just all the yamls when showing explanations.

Ie rpmlint/checks/ZipCheck.py + rpmlint/checks/ZipCheck.yaml which will contain the descriptions.

Also it will shorten the code of the tests as this huge blob with strings will be elsewhere.

For testing we will have to validate that all short abbrevations have some descriptions and er

[2019-07-26 11:12] #220 closed

[2019-07-26 11:19] scarabeusiv commented on #216
Also we could print out the progress estimation on how we are going as everything is now buffered and we dump our collated data at the end.

[2019-07-26 11:21] Conan-Kudo commented on #222
@scarabeusiv Wait, why YAML? We just got TOML implemented, why also add YAML?

[2019-07-26 12:16] mcepl commented on #126
It comes from https://build.opensuse.org/package/show/Publishing/lout (see [_log.txt](https://github.com/rpm-software-management/rpmlint/files/3435679/_log.txt)).

[2019-07-26 13:47] scarabeusiv opened #225 "Review and convert the test logic to use functionalized approach"
The tests for individual issues should be separated as much as possible to be later paralelized.

All the tests should be reviewed and verified they are in good shape.
Also with this logic we should have at least 1 testcase per the function to make sure we do not regress to much.

Here is a list of current tests to review (new ones will hopefully be reviewed prior addition and adhere to this 'requ

[2019-07-26 13:56] scarabeusiv commented on #170
As I poked around in SUSE nobody knew how to create one properly, so since the syntax changed too much I deleted it.

New one can be introduced if someone cares, but there are not too many arguments to be worth it tbh.

[2019-07-26 13:56] #170 closed

[2019-07-26 13:58] scarabeusiv commented on #156
This issue is really tied to issue #225 and probably should go hand in hand with that effort.

[2019-07-26 14:02] scarabeusiv opened #226 "Review and close/merge all the currently open PRs that are from 2018 and older"
We shouldn't keep up PRs open if they won't be merged. I closed those that are not even remotely applicable anymore but there are still ~8 that need review and some cherry-picking as they look useful.

[2019-07-26 14:11] scarabeusiv opened #227 "Merge in tests/testsuite from openSUSE rpmlint-tests"
There is shell testsuite residing at https://github.com/openSUSE/rpmlint-tests. This should not be needed and we should have all the coverage inplace in the rpmlint tests here.

This is tied to https://github.com/openSUSE/rpmlint-checks which contain some extra checks and need to be merged too (the enablement later on is simply tied to the distribution configuration, yet the checks can all be at o

[2019-07-27 01:57] Conan-Kudo commented on #227
None of the SUSE-specific checks should be pulled in. That means the SUSE FHS restrictions, BSD RC link enforcement, kmod packaging rules, etc. should not be incorporated upstream unless they are rationalized with the other major RPM distros (Fedora and Mageia).

[2019-07-27 11:49] scarabeusiv commented on #227
@Conan-Kudo I am not saying to enable them by default just to have them in one repo, even now not all of the checks here are enabled by default.

[2019-07-27 12:02] Conan-Kudo commented on #227
I don't want all the checks from openSUSE merged wholesale, even disabled.

[2019-07-28 07:19] scarabeusiv commented on #227
Care to explain why? They are not going to cause issues as it will be just checks with tests.

Even now some of the checks are distro specific only.

[2019-07-28 13:49] Conan-Kudo commented on #227
Mainly because it's going to be hard to keep up with all the extra code from those checks. And some of those checks are *really* irrelevant to us all.

A quick look through indicates the following checks are okay for contributing upstream:
* `BashismsCheck` (disable by default)
* `Check4Xinetd` (disable by default)
* `CheckBuildDate` (enable by default)
* `CheckBuildRoot` (enable by default)
* `Ch

[2019-07-29 08:21] scarabeusiv commented on #227
Yea I know it will be bit more work, but we already maintain those and will continue to do so. And having them in one repo makes sense for us to avoid divergence.

We will of course streamline them. Frankly we have to as at the moment they won't work with 2.0 at all and with the changes we are doing :)

[2019-07-29 08:29] marxin commented on #192
Yes, I'm working on that. However, I'm planning to stay with the current instrumentation for `readelf` utility.

[2019-07-29 08:34] scarabeusiv commented on #192
If that works beter I am okay with that. Simply we will close this bug at the point we have binarycheck that we are happy with.

[2019-07-29 09:47] scarabeusiv commented on #222
@Conan-Kudo yeah toml would work as well, I am still torn about the final implementation TBH.

If it should be bazilion of small files or one file containing info for all tests.

And we should have a test in place that verifies that all warnings have a description.

[2019-07-30 11:18] scarabeusiv opened #235 "rpmlint with asterisk in path does not process files"
@mimi1vx when adding the path with `rpmlint path/*.rpm` or `rpmlint path/` it shows that none files will be processed by rpmlint -> change to pathlib in `__init__.py` broke something.

[2019-08-01 08:33] scarabeusiv opened #238 "Rpmlint test installed package"
The 1.x supports call `rpmlint <package>` where package is something installed on the system.

Since the code support is already there we should not regress there and support this case even on the new argparse mode.

To not confuse it so much it would make sense to do something along the way of `rpmlint --installed mc`.

[2019-08-02 09:38] scarabeusiv commented on #235
Fixed by the aboce commit.

[2019-08-02 09:38] #235 closed

[2019-08-02 12:20] #238 closed

[2019-08-11 07:48] marxin commented on #192
Now I am happy wirh that.

[2019-08-11 07:48] #192 closed

[2019-08-13 13:03] scarabeusiv opened #253 "Replace os.path with pathlib where applicable"
We are using both approaches and it would make sense to have everything from pathlib.

Most notorous issue is that pkg.py needs to use pathlib but it is used also in following files:
 - [ ] test/test_scl.py
 - [ ] test/test_ldd_parser.py
 - [ ] test/test_filter.py
 - [ ] test/test_readelf_parser.py
 - [ ] rpmlint/filter.py
 - [ ] rpmlint/pkg.py
 - [ ] rpmlint/checks/TagsCheck.py
 - [ ] rpmlint/che

[2019-08-13 13:51] scarabeusiv opened #254 "Reintroduce the online check of sources and their checksum"
This needs bit more work than expected.

We need to update pkg.py to give away RPMTAGS_FILEMD5S and use properly RPMTAG_FILEDIGESTS which also contains info about the algorithm used to deliver the data.

Then in spec_check we need to download the file to TMPDIR (you can ask the content- metadata info for the details but quite few webs so far report only md5) and run the requested checksum on it (i

[2019-08-13 13:54] scarabeusiv commented on #254
@Conan-Kudo ^ The proper handling as above will need to wait for the pkg.py rewrite. Would you be against acking the pr #246 for now and doing this after we are done with the pkg.py?
I would like to not rebase the pr all the time and we will not release until the milestone bugs are fixed so it should have no impact on the end users.

[2019-08-13 13:55] Conan-Kudo commented on #254
@scarabeusiv As long as it's coming back, I'm happy to merge dropping the existing checks.

[2019-08-13 20:26] scarabeusiv opened #255 "Add logging module for progress reporting as needed"
Whenever rpmlint gets stuck it makes sense to use logging to be able to pinpoint what is going on. Esp. now when we use buffers for everything and final dump is at the end.

Also with threading it will allow is better to see what is happening.
I am marking it as a bug as without the tweak it will be pita to debug stuff later.

[2019-08-13 20:29] scarabeusiv commented on #127
Ok as per above comment now I also added testcases and AppDataCheck validates the stuff for you even without having the %check phase doing it during the build.
So we can really consider this thing to be working. I dunno if we need to check if users did add %check if the have the file because the same check is performed by rpmlint and it errors out (i would say good enough?).

[2019-08-13 20:29] #127 closed

[2019-08-13 20:31] scarabeusiv commented on #1
This can be duped against issue #158 because we need to refactor it. Even tho this is way way older, lets keep the other one in place :)

[2019-08-13 20:31] #1 closed

[2019-08-13 20:37] scarabeusiv commented on #8
We in openSUSE have this lovely lenghty policy for patches explaining what to do with them, how to annotate, what comments/format/...
Honestly most of the time it is ignored and the same would apply here. If we would print out anything it can be only Info or Warning and not many people would care about it.
I would like to see this unified but checking the openSUSE tree the policy is respected in <

[2019-08-13 20:37] #8 closed

[2019-08-13 20:41] scarabeusiv commented on #11
Looking at this I see that %_libdir/* gets handled properly by rpmbuild in SUSE, anyone knows if it is some SUSE patch or if it was fixed on rplbuild side?

[2019-08-13 20:41] scarabeusiv commented on #17
Groups are dead, even in SUSE now. Closing...

[2019-08-13 20:41] #17 closed

[2019-08-13 20:43] scarabeusiv commented on #41
This is tweaked and stored now in the SUSE repo and will be picked by the #227 , lets track it just there (this added patch is in worse  state than the one in the opensuse repo anyway).

[2019-08-13 20:43] #41 closed

[2019-08-13 20:45] scarabeusiv commented on #38
Actually this sounds nice. Something like the printout that is done by pytest (header listing all the loaded tests, list of configs that are in use, then all the errors/warnings and at the end nice summary.
Pytest does it nicely so lets get some inspiration :)

[2019-08-13 20:47] scarabeusiv commented on #37
With the change of the printout to be stored in the buffer and printed at the end it should not be done like the orginal comment here proposes.
I actually opened an issue because of a problem i had today #255 that explains how it could be done Today. So lets track it there.

[2019-08-13 20:47] #37 closed

[2019-08-13 20:50] scarabeusiv commented on #30
Another part of the openSUSE patchset. Better version at https://github.com/openSUSE/rpmlint-checks/blob/master/CheckPkgConfig.py ; lets fix this one using the new issue #227

[2019-08-13 20:50] #30 closed

[2019-08-14 12:46] marxin opened #258 "Implement brp-75-ar"
The check from here:
https://github.com/openSUSE/brp-check-suse/blob/master/brp-75-ar

is about running `file` for all files ending with `.a`. The utility should return `ar archive` for these files.

[2019-08-14 12:50] marxin opened #259 "Implement brp-45-tcl"
The script comes from here:
https://github.com/openSUSE/brp-check-suse/blob/master/brp-45-tcl

The script is very trivial and it's about `-maxdepth 2` `find` command which is searching for `pkgIndex.tcl` file.

[2019-08-14 12:52] marxin opened #260 "Implement brp-25-symlink"
@scarabeusiv
Consider implementing the same check as is currently here:
https://github.com/openSUSE/brp-check-suse/blob/master/brp-25-symlink

[2019-08-14 12:53] marxin opened #261 "Implement brp-05-permissions"
@scarabeusiv The script is currently defined here:
https://github.com/openSUSE/brp-check-suse/blob/master/brp-05-permissions

[2019-08-14 19:06] jasontibbitts opened #262 "Potential errant output when calling rpm.expandMacro in TagsCheck.py"
In https://bugzilla.redhat.com/show_bug.cgi?id=1628465 is a complaint that depending on what packages are installed, rpmlint might cause some weird complaints when asked to check anything at all.

The specific issue there is that when `TagsCheck.py` is loaded, `rpm.expandMacro('%python_sitearch')` will get called and that will cause rpm to emit an error trying to exec `/usr/bin/python` if (on Fedo

[2019-08-15 11:56] leo-lb opened #264 "Recursive dependency size statistics"
Hello,
Along with the Minimization Team at Fedora, we want to provide maintainers a way to evaluate the impact their packages and the dependencies they pull in have on the final system size.

Someone has written this: https://pagure.io/minimization/dependency-visualiser ; which allows someone to generate a graph for any given RPM installed in a custom installroot so it shows size for the main pack

[2019-08-15 12:10] scarabeusiv commented on #264
I can tell you that we graph this data in OBS and have this information when we create rings in SUSE. Mostly we use it for buildcycles calculations and similar.

Now the question is what exactly should rpmlint do for this because by default it just scans unpacked/installed rpms and does analysis on it, nothing much more.

With this approach you would have to fire up a container (or something along

[2019-08-15 13:35] #222 closed

[2019-08-15 13:52] Conan-Kudo commented on #264
It probably doesn't make sense within rpmlint itself, but it would be a good idea to develop that into a generic test tool and host it here in this organization for discovery purposes.

Perhaps Fedora Minimization and @asamalik would like to make the visualizer available here?

[2019-08-15 15:57] leo-lb commented on #264
@Conan-Kudo I didnt mean dependency web statistics but indeed size statistics.

[2019-08-15 17:18] Conan-Kudo commented on #264
You are talking about install root sizes, which is a function of the dependency web.

[2019-08-16 09:56] scarabeusiv commented on #258
Actually it does objcopy that inplace edits the archive with some deterministic mumbo jumbo -> wontfix.

[2019-08-16 09:56] #258 closed

[2019-08-16 09:58] scarabeusiv commented on #259
So the idea is that the stuff should not be in `/usr/lib64/tcl/pkgIndex.tcl` but in the folder per package ie `/usr/lib64/tcl/thread2.8.4/pkgIndex.tcl`

[2019-08-16 09:59] scarabeusiv commented on #260
This actually rewrites data on the rpm and changes from full path symlinks to relative symlinks -> wontfix.

[2019-08-16 09:59] #260 closed

[2019-08-16 10:00] scarabeusiv commented on #261
Sadly the chkstat --set writes the data on the rpm and thus not just verifies. As such it is not validation but overriding -> wontfix.

[2019-08-16 10:00] #261 closed

[2019-08-16 10:53] Conan-Kudo commented on #122
Fixed for upcoming 2.0 release.

[2019-08-16 10:53] #122 closed

[2019-08-16 11:58] scarabeusiv commented on #113
Bit improved I hope... :)

[2019-08-16 11:58] #113 closed

[2019-08-16 12:21] scarabeusiv commented on #121
@jengelh could you find some documentation that says that the /usr/share/pkgconfig is not considered development content?

If we look on my machine:

[code]

And checking ie xproto:

[code]

So I don't think the statement is wrong.

[2019-08-16 12:26] Conan-Kudo commented on #121
`/usr/share/pkgconfig` is for architecture independent pkgconfig files. It's supported by all pkgconfig implementations. Thus, I do not consider this an issue.

[2019-08-16 12:26] #121 closed

[2019-08-16 12:49] marxin commented on #7
Lemme work on that.

[2019-08-16 12:50] marxin commented on #5
Let's implement that as a warning then. I see ~120 executables the have an unused dependency on my system.

[2019-08-16 14:51] scarabeusiv commented on #24
This looks like nothing should really be done here, it scans the stuff and reports issues as seen.

[2019-08-16 14:51] #24 closed

[2019-08-16 18:29] scarabeusiv commented on #84
This test was killed with commit 83f915a54d23f7a912ed42b84ccb4e373bec8ad9

[2019-08-16 18:29] #84 closed

[2019-08-25 07:11] marxin commented on #7
Well, I see really a huge number of shared libraries with executable bit set:

`
marxin@marxinbox:~> find /usr/lib64 -type f -executable | grep '\.so' | wc -l
7538
marxin@marxinbox:~> find /lib64 -type f -executable | grep '\.so' | wc -l
128
marxin@marxinbox:~> find /lib -type f -executable | grep '\.so' | wc -l
94
`

That said, I don't see the check much interesting.

[2019-08-25 07:12] marxin commented on #7
@scarabeusiv Please drop `Milestone 2.0`.

[2019-08-25 07:28] #5 closed

[2019-08-25 09:13] marxin commented on #253
@scarabeusiv
I've just made a pull request. What's remaining is the usage of:
- `os.path.normpath` - can we replace it with `Path.resolve()`? I know it's not 1:1
- `safe_normpath` - any suggestion what to do with this function?

[2019-08-25 09:14] marxin commented on #259
I can work on that, please assign it to me.

[2019-08-25 12:20] marxin commented on #259
@scarabeusiv Thanks and can you please point me to a similar check? Or to a place where the check should be added?

[2019-08-25 12:59] marxin commented on #259
I've got it, it was quite easy.

[2019-08-25 13:13] marxin commented on #253
@scarabeusiv Please assign that to me.

[2019-08-25 13:22] marxin commented on #172
@scarabeusiv Please assign that to me.

[2019-08-26 00:59] #172 closed

[2019-08-26 07:06] #206 closed

[2019-08-27 07:07] scarabeusiv opened #287 "Kill group validation tests"
The groups are now not really used in the spec files metadata we should stop bothering with validation. related https://github.com/rpm-software-management/spec-cleaner/issues/256

[2019-08-27 07:29] marxin commented on #227
I'm going to work on that.

[2019-08-27 07:37] scarabeusiv commented on #158
Basically the pkg.py mostly needs a rewrite, not just removal of this function so it will be quite a task.

[2019-08-27 07:43] scarabeusiv commented on #158
There are many functions that should no longer be used and it could be quite simplified.

[2019-08-28 01:31] #259 closed

[2019-08-28 01:32] scarabeusiv commented on #126
Interestingly if I just copy that file out the rpmlint does not mark it as such... Only in the pacakge itself...

[2019-08-28 04:32] scarabeusiv opened #292 "Tracker for to-rebase openSUSE patches"
This is not mostly for downstream openSUSE as we have list of patches we will have to review prior the release, maybe even some can be upstreamed, but it is mostly for downstream review we have to do.

List of stuff to check:
 - [x] devel-provide-is-devel-package.diff
 - [x] docdata-examples.diff
 - [x] check-for-self-provides.diff
 - [x] invalid-filerequires.diff
 - [x] no-doc-for-lib.diff
 - [x]

[2019-08-28 04:32] scarabeusiv commented on #292
@mimi1vx @kstreitova @marxin ^^ :)

[2019-08-28 04:59] marxin commented on #292
@scarabeusiv Thanks for it. Can you please also upload the patches to https://gist.github.com/ ?
What's bad about the issue is that I can't modify your commend with the checklist :/

[2019-08-28 05:01] marxin commented on #7
@scarabeusiv I would close it as we went in with #286?

[2019-08-28 05:07] scarabeusiv commented on #7
Okay. I am still chatting with the toolchain guys about the need for it but makes sense.

[2019-08-28 05:07] #7 closed

[2019-08-28 05:09] scarabeusiv commented on #292
@marxin kein ahnung. Just tell me on irc what I should check :)) The gist will take me a bit as I am still doing the training so it might take me a bit :)

[2019-08-28 11:34] marxin commented on #292
Ok, there's a gist for all the patches: https://gist.github.com/marxin/4345da142ebf76117b6acd08d015c37e

[2019-08-28 11:37] marxin commented on #292
Ok, please check `suse-binarieschecks.diff`, all stuff in the patch has been ported. And please sort the list of the patches ;)

[2019-08-29 01:10] scarabeusiv commented on #292
But the list is sorted alphabetically. :)

[2019-08-29 02:46] scarabeusiv commented on #156
Also there is rpmlint-tests in openSUSE namespace that could be incorporated in the main project, effectively obsoleting the openSUSE repo.

Current list of tests that could be added as a checklist:

 - [ ] buildroot.ref
 - [ ] cvs-bad.ref
 - [ ] dbus-policy.ref
 - [ ] debug.ref
 - [ ] debug1.ref
 - [ ] debug2.ref
 - [ ] desktopfile-bad-binary.ref
 - [ ] desktopfile-bad-duplicate.ref
 - [ ] deskto

[2019-09-02 05:56] scarabeusiv commented on #253
Looking at safe_normalpath it seems that we could kill that using the resolve tbh.

[2019-09-02 11:02] marxin commented on #253
Good, I updated the pull request (#280). Please take a look.

[2019-09-02 12:58] marxin commented on #227
@Conan-Kudo  Which `systemd` macros do you mean?

[2019-09-02 13:07] Conan-Kudo commented on #227
@marxin These: https://github.com/systemd/systemd/blob/master/src/core/macros.systemd.in

[2019-09-02 15:32] marxin commented on #227
@scarabeusiv: About the `LibraryPolicyCheck`: we'll have to take a look at https://rpmlint.opensuse.org/rules/openSUSE:Factory/x86_64/standard and select warnings that we want to port. It probably does not make sense to port all of them.

[2019-09-02 16:02] marxin commented on #292
About `only-reg-files-are-scripts.diff`: Can we drop `./rpmlint/checks/InitScriptCheck.py` as `init.d` is dead?

[2019-09-02 20:07] scarabeusiv commented on #292
I think @Conan-Kudo said some distro still uses them, but I wonder if we really have such a product somewhere that is rpm based yet non-systemd.

[2019-09-02 20:23] Conan-Kudo commented on #292
ALT Linux has a non-systemd variant, and PCLinuxOS still uses the RH/MDV sysvinit style environment, too.

[2019-09-02 20:59] Conan-Kudo commented on #292
@scarabeusiv @marxin Please note that it is not acceptable to submit pull requests with meaningless commits like the one in #303.

If you intend to rework those for upstreaming, please take the modicum of care to actually do proper descriptions of the patches, what they do, and why they're useful.

[2019-09-03 07:14] marxin commented on #292
I see, thanks.
@scarabeusiv: please mark `only-reg-files-are-scripts.diff` as checked as we don't want to port it to rpmlint as we're not interested in a `init.d` check.

[2019-09-03 07:46] marxin commented on #292
@scarabeusiv about `invalid-filerequires.diff`: can't see any warning reported with `invalid-filerequires.diff` patch. Do we still want to port it?

[2019-09-03 07:57] marxin commented on #292
@scarabeusiv can't see any warning from `suse-pkg-config-check.diff`, do we really want to port it?

[2019-09-03 07:57] marxin commented on #292
@scarabeusiv: `suse-python3-naming-policy.diff` - can you please make an opinion about this one?

[2019-09-03 07:59] marxin commented on #292
@scarabeusiv Assign the issue to me please.

[2019-09-03 08:00] marxin commented on #253
This is fixed, please close it.

[2019-09-03 08:17] marxin commented on #225
This seems to be a candidate for milestone `2.1`. I don't see it fundamental for `2.0` release.

[2019-09-03 12:46] #253 closed

[2019-09-03 12:57] scarabeusiv commented on #292
if there are no catches I don't see tests in rpmlint-tests so that one probably can die, if it was fatal someone can resurrect it later on.

[2019-09-03 12:59] scarabeusiv commented on #292
Yea this one is weird, but the whole naming policy module is weird and should be re-invented. I think we will need to sit down and figure the pkg naming scheme after py2 is dead.

[2019-09-03 16:52] scarabeusiv commented on #44
We now have check for bash/syntax in the content of the packages, thus doing the same on the scriptlets should be trivial.

[2019-09-03 17:12] marxin commented on #44
@scarabeusiv Can you help me here? What does it mean use it for scriplets?

[2019-09-03 17:16] marxin commented on #126
The file has really `+x` set:

[code]

When I extract the file out of package I see:
[code]

[2019-09-03 17:24] scarabeusiv commented on #44
@marxin this will need to be part of the speccheck or a new check as a whole and we have scriptlets (the %post/%pre/... in there) also it should be in the metadata of the rpm in INFO/SCRIPTS/* so those could be checked even without providing the actual specfile I guess.

[2019-09-03 17:33] mcepl commented on #126
OK, @marxin is right. I am an idiot.

[2019-09-03 17:33] #126 closed

[2019-09-03 17:38] jccleaver commented on #44
The intent is that this would be good preparation/lintchecking for the case where either /bin/sh isn't bash, or https://github.com/rpm-software-management/rpm/issues/646 has been implemented, allowing an rpm macro to specify a differing default Bourne shell interpreter if none is specified (e.g., dash).

[2019-09-10 11:38] scarabeusiv commented on #226
Done

[2019-09-10 11:55] Conan-Kudo commented on #226
Not quite, as I reopened one to remind myself to port over...

[2019-09-11 09:48] scarabeusiv commented on #292
suse-rpmlint-all-pie.patch - we need to check up if it really makes sense to make some of the errors to warnings or not.

[2019-09-16 13:42] kstreitova opened #326 "Tmpfiles.d %files rules"
In rpmlint we currently check if the tmpfile created via tmpfiles.d is listed in the %files section and we advise to list it as a %ghost.

However, in [openSUSE tmpfiles.d packaging wiki ](https://en.opensuse.org/openSUSE:Systemd_packaging_guidelines#Creating_files_and_subdirectories_in_.2Fvar.2Frun_and_.2Frun) is no mention about %ghost. The same applies for
[Fedora](https://fedoraproject.org/wik

[2019-09-16 13:45] Conan-Kudo commented on #326
@jasontibbitts @decathorpe Are the Fedora rules on that wiki page still correct? I see people using `%ghost` more than I do using the odd `%verify` stuff...

[2019-09-16 16:22] decathorpe commented on #326
@Conan-Kudo wow, I've never seen `%verify(foo)` anywhere, and didn't even know it existed ... I only know of `%ghost`, and it's what I would use in this case.

By the way, the authoritative source of these packaging guidelines is now [here](https://docs.fedoraproject.org/en-US/packaging-guidelines/Tmpfiles.d/), barring formatting issues that happened when converting them from the wiki page. But lo

[2019-09-18 05:24] #38 closed

[2019-09-18 12:08] Conan-Kudo commented on #326
@kstreitova @decathorpe I'm not sure `%ghost` is necessary for stuff in `/run` anymore, since it's more or less guaranteed to be tmpfs now. `%verify` is definitely overkill.

[2019-09-18 12:36] dirkmueller commented on #227
@scarabeusiv fwiw I agree that we shouldn't just merge "SUSE specific" checks into this repository unless there is a way to generalize that for other distributions.

[2019-09-18 12:39] dirkmueller commented on #156
@scarabeusiv before working on increasing the testcoverage significantly, can we maybe add a testing framework that is capable of scaling to that intended dimension please? the current solution of checking in prebuilt binary rpms into git does not scale much further.

In order to increase white box testing coverage we first need to find a way to mock/adhoc build testcases that don't require a full

[2019-09-18 13:00] scarabeusiv commented on #156
We partialy do this stuff for ldd tests and other where we mockup fake package with file that is presented there exhibiting some issue.

The problem is that for some more parts we would need to expand the fakepkg quite more to allow better metadata injection for comparing the result.

[2019-09-18 13:03] Conan-Kudo commented on #156
We could do a variation where we ship the inputs as text data, and create a harness to produce the rpm before feeding it as an input to a test.

[2019-09-18 13:10] scarabeusiv commented on #156
We could build it on the fly using rpmbuild probably, but that is not scaling much better because the packages can have various dependencies that would be pulled in the docker container and that would cause huge overhead.

I think we should stick to the binary rpms for now and expand the mockable situation that we could switch to in the future.

Also FTR most of the size of sources/ binaries/ is f

[2019-09-18 14:54] kstreitova commented on #225
_(Just commenting on this so Tomas can assign this issue to me)_

[2019-09-18 15:08] kstreitova commented on #156
_(Just commenting on this so Tomas can assign this issue to me)_

[2019-09-18 15:37] scarabeusiv commented on #115
There is now even test for the issue as per above -> closing.

[2019-09-18 15:37] #115 closed

[2019-09-18 16:07] scarabeusiv commented on #125
Hmm now one of the interesting thing is, if we run rpmlint on some list of items where should the found rpmlint files apply.

`path/file1.rpm`
`path/file1-rpmlintrc`
`path2/file2.rpm`

In the above scenario should the rpmlintrc be applied on the `path2/file2.rpm`?

Also alternatively:

`path/file1.rpm`
`path/file1-rpmlintrc`
`path/file2.rpm`
`path/file3.rpm`
`path/file3-rpmlintrc`

Should the rpml

[2019-09-18 17:17] Conan-Kudo commented on #125
I would expect we'd apply rules based on source package name rpmlintrc files. But if we were reading multiple files, I guess it would merge them as you say.

[2019-09-18 17:40] praiskup commented on #125
Well, I'm repeating myself :-) but I still think `.rpmlintrc` file near the spec file (in dist-git it would be stored along the `.gitignore` file) is better idea.  Rpmlint can then simply look into the directory where where the linted file is (be that spec or srpm file), and check for dotfile.

Anything else sounds a bit overcomplicated to me.

[2019-09-18 17:42] Conan-Kudo commented on #125
I think making it a dotfile is probably a bad idea, and leaving it as `<srcpkgname>.rpmlintrc` is sufficient. But I could see supporting _either_ `.rpmlintrc` or `<srcpkgname>.rpmlintrc` with the latter taking precedence over the former.

[2019-09-18 17:44] praiskup commented on #125
Agreed, btw., there might be global option `accept_dotfile = False` by default.

Btw., the `srcpkgname` is sometimes non deterministic (SCLs, it depends on %scl being defined or not).

[2019-09-18 17:49] Conan-Kudo commented on #125
@praiskup SCL packaging shouldn't mutate the source package...

[2019-09-18 17:53] scarabeusiv commented on #125
Yea looking more at the stuff we will simply have to process all rpmlintrcs that are found during parsing because otherwise it gets really crazy to interpret what rpmlint goes where sadly. Of course best results are achieved if you won't run rpmlint against your whole darn distro ;-)

[2019-09-18 17:57] praiskup commented on #125
@Conan-Kudo unfortunately, %scl macro is in `Name` tag.  So it does mutate the srpm filename.

[2019-09-18 17:59] praiskup commented on #125
Of course rpmlint can look at "spec" filename inside srpm, that can not be affected by macro expansion.

[2019-09-18 18:47] scarabeusiv commented on #125
Yeah with the lookup logic you would have to keep a list of all rpmlintrc files and then during run compare them with the final 'name' that you need to dig out and either apply the thing to the checks or not. Also we would have to have a function that extracts the name first too, as you can check normal rpms generated from srpm where you need to get the srpm name from the metadata info too...

I w

[2019-09-18 20:21] marxin commented on #292
@scarabeusiv: Please check `devel-provide-is-devel-package.diff`.
About `rpmlint-slpp-NUM-NUM.patch`: looking at the history, I can't see a revision where we would have `[\d_]` group in the regex?

[2019-09-18 21:38] praiskup commented on #125
I won't pretend I'm not lost, this got twisted from a few-liner patch into
complicated thing, hm.  Maybe not?

My original idea was to make rpmlint non-annoying for common Fedora
packager - so packagers can provide (some) blacklist file.  The blacklist
file needs to live as close to spec file as possible (along the spec file
in dist-git), otherwise it is useless.  Plus rpmlint should treat the
bla

[2019-09-19 01:59] Conan-Kudo commented on #326
@kstreitova @decathorpe is [bringing this up to the Fedora Packaging Committee](https://pagure.io/packaging-committee/issue/927), so we'll have an answer soon.

[2019-09-19 07:41] scarabeusiv commented on #292
@marxin I suppose the [\d_] is another patch that we ship in openSUSE only :( but it was here as a pr from ludwig and it just needed a rebase...

[2019-09-19 07:43] marxin commented on #292
Can you please send me a link for it?

[2019-09-19 07:45] scarabeusiv commented on #125
I will tweak it to accept the semantic we have in OBS, see:
  https://build.opensuse.org/package/show/X11:xfce/thunar

I will load up `<WHATEVER>rpmlintrc` and see how that goes.

I even don't think that hiding it in dotfiles is a good idea because you want it to be obvious that someone did overrides for the rpmlint report (eg someone sneaking in stuff on the first review by disabling things).

[2019-09-19 07:46] scarabeusiv commented on #292
@marxin https://github.com/rpm-software-management/rpmlint/pull/59

[2019-09-19 08:53] praiskup commented on #125
On Thursday, September 19, 2019 9:45:18 AM CEST Tomáš Chvátal wrote:

There's just spec + src.rpm in fedora review request.

[2019-09-19 09:01] marxin commented on #292
Ok, now I can see it. I'll bundle all these patches into a one PR to `opensuse` branch.

[2019-09-19 09:02] marxin commented on #292
@scarabeusiv : Btw. do we want to upstream `suse-skip-macro-expansion-diff` as it can cause trouble to other distros as well?

[2019-09-19 09:21] marxin commented on #292
@scarabeusiv : Please check `suse-rpmlint-all-pie.patch`.

[2019-09-19 10:06] scarabeusiv commented on #292
@marxin re `suse-skip-macro-expansion-diff` we should make that one upstream i guess, the test is not worth the hassle it causes on most distros, and we can reintroduce it always in a better way later.

Also re #59 that one imo could be really upstream, maybe even the other one with option for SLPP policy as a config option as other distros have same policy like we do.

[2019-09-19 11:12] Conan-Kudo commented on #125
@scarabeusiv I don't want it to accept `<whatever>rpmlintrc`. That's dangerous and crazy.

[2019-09-19 11:14] Conan-Kudo commented on #125
@praiskup Not everyone does package reviews that way. openSUSE does spec + patches + rpmlintrc (if one exists).

[2019-09-19 11:54] marxin commented on #292
Ok, which option name and possible option values do you suggest?

[2019-09-19 13:18] scarabeusiv commented on #292
I dunno slpp_compilant as boolean? We can put a link to debian slpp explanation...

[2019-09-19 13:19] marxin commented on #292
@scarabeusiv Please check `suse-skip-macro-expansion.diff` as done.

[2019-09-19 13:22] scarabeusiv opened #339 "Figure out better way how to do private_so_paths"
After pull #333 was merged this code was dropped yet it could be done in a better way to keep it useful. Or review if it is still needed at least.

[2019-09-19 13:24] marxin commented on #292
@scarabeusiv And please check `suse-shlib-devel-dependency.diff`.

[2019-09-19 14:06] marxin commented on #292
@scarabeus : Please check the last checkbox and close.

[2019-09-19 14:08] #292 closed

[2019-09-20 12:57] scarabeusiv commented on #262
We removed the code as it caused trouble on openSUSE too. Possible reimplementation tracked at #339

[2019-09-20 12:57] #262 closed

[2019-09-20 17:26] msmeissn opened #341 "Add a check for consistent OPTFLAGS usage"
At SUSE we store the used RPM_OPT_FLAGS / %optflags in a ELF section in the .o files.

A check that verifies / compares the used options with the wanted options would help to identify
files not built with RPM_OPT_FLAGS.

This would spot files compiled without stack-protector, fortify, pointer protections or warnings etc etc

[2019-09-20 17:27] Conan-Kudo commented on #341
This is also done using `annobin` on RH/Fedora, but I'm not sure how to implement such a check across the board. I'm sure everyone is using different mechanisms to record this data...

[2019-09-20 17:28] msmeissn commented on #341
perhaps it could be standardized in some form?

[2019-09-20 17:31] Conan-Kudo commented on #341
I'd be happy if it was.

All I know about it is from these pages:
* https://fedoraproject.org/wiki/Changes/Annobin
* https://developers.redhat.com/blog/2018/02/20/annobin-storing-information-binaries/
* https://developers.redhat.com/blog/2019/02/04/annocheck-examining-the-contents-of-binary-files/

Does the SUSE solution look anything like this?

[2019-09-20 18:06] scarabeusiv commented on #341
it is stored in the debuginfo for -record-gcc-switches option that is enabled by default. So we will write extractor for that  if that is present it should be stored there even for fedora.

The major problem for the fedora is that the project wanted a way to check it even for non-debuginfo packages which would need to be done by gcc plugin.

[2019-09-20 18:08] Conan-Kudo commented on #341
@scarabeusiv Might it make sense for SUSE to also adopt the `annobin` approach?

[2019-09-20 18:08] Conan-Kudo commented on #341
@scarabeusiv @msmeissn Might it make sense for SUSE to also adopt the `annobin` approach?

[2019-09-20 18:45] scarabeusiv commented on #341
why the debiginfo pkgs contain the data even on fedora, we can just scan that and be done with it, it will just not work on the general rpms which is what the fedora tooling alows

[2019-09-21 06:29] msmeissn commented on #341
The compiler writes the optflags into the elf section as I said.

Our scanner so far was just grepping over the buildlog, and did not use the optflags section.

Currently our GCC builds do not support GCC plugins.

[2019-09-24 11:18] marxin commented on #341
I tested the `-frecord-gcc-switches` and it's problematic with LTO where we have merged compilation units and so that we'll miss all original compilation unit flags.

There was a recent presentation at the GNU Cauldron 2019 about Annobin and they probably also tend to have issues with LTO. Let's see what can they do with that..

[2019-09-30 15:52] kstreitova opened #349 "DuplicatesCheck algorithm probably doesn't work properly"
When I was inspecting the` DuplicatesCheck.py` algorithm during its cleanup I bumped into various cases where I got a suspicion that the algorithm won't work as expected.

1) Let's imagine we have 3 files with the same hash, where the first two are hardlinked across the partition and the last one is not. In this case, I think it won't print the `hardlink-across-partition` error as this error is pr

[2019-10-01 22:17] awilliam opened #350 "False positive detecting ipxe scripts"
iPXE is a pre-boot execution environment for network booting, it supports text file scripts making use of a shebang, ie. #!ipxe.  See https://ipxe.org/scripting  These script files are delivered to the booting system via network protocols such as tftp or http, therefore file permissions and interpreter checks on the boot server are irrelevant.  Attempting to deliver such a script via an RPM result

[2019-10-02 10:35] scarabeusiv commented on #350
Yup the shebang detection is fairly basic so we just have to exclude this one and add test for it.

[2019-10-09 09:57] scarabeusiv commented on #92
We ripped out sclcheck due to being unmaintained from rpmlint, as such I am closing this bug as wontfix.

[2019-10-09 09:57] #92 closed

[2019-10-14 07:59] M0ses opened #354 "check for control characters in header fields"
As we have now

https://github.com/rpm-software-management/createrepo_c/commit/317ded66bb94e6d3dc80bde6c22c5a2cec8f897d

in place, to avoid broken xml file created by createrepo_c, we now should have some checks in rpmlint also, so we can detect failures ASAP.

[2019-10-25 11:32] #354 closed

[2019-11-01 10:34] kstreitova commented on #326
@Conan-Kudo Any news regarding creating a tmpfile macro that was mentioned in the Fedora meeting? Thanks!

[2019-11-01 12:06] Conan-Kudo commented on #326
@decathorpe has been entrusted to design Fedora's `tmpfiles.d` policy...

@decathorpe, have you figured out how it should work yet?

[2019-11-01 12:42] decathorpe commented on #326
@Conan-Kudo I didn't have much time to look into this yet, sorry.

However, reading the max-rpm page about `%files` directives, it sounds like `%ghost` fits the `tmpfiles.d` usecase pretty well (since it only marks the files as "owned" by the package and makes sure it's removed upon package removal, but does nothing else), and `%verify` is more tailored towards situations where file mode / ownersh

[2019-11-18 15:09] StykMartin commented on #350
Hi @scarabeusiv,

any update on this one?

[2019-11-19 08:04] scarabeusiv commented on #350
Nope, still just tracked, the fix itself is trivial, but the test that should be doing it needs redesign, so it is kinda on the backlog with the other milestone bugs still being open. But feel free to prep it, refactoring with existing code is still easier than writting stuff from scratch (esp. if the code has a testcase).

[2019-11-20 06:11] StykMartin commented on #350
@renanrodrigo can you take a look and figure out a patch for this issue?

[2019-11-20 14:35] renanrodrigo commented on #350
As far as I can see, this is already fixed in upstream and released for 1.11.

The first error was removed in a4618650898aece5c4838e71853310b54f6e29fa - it only considers `ipxe` as a "wrong interpreter" if the file is executable (and it should not be) or if it matches the script_regex - also avoidable imho.

The second error is removed in 5d7e50accf8100247e52509a8b00fb831f54278d just by verifying

[2019-11-20 15:00] StykMartin opened #358 "Update pypi"
Version uploaded in pypi is really obsolete - 0.48.
https://pypi.org/project/rpmlint/
Can you please upload the latest version there?
Thanks

[2019-11-20 15:08] scarabeusiv commented on #358
It does not make much sense to be there at all. You won't be ever able to install it from there as it has deps on direct rpm bindings and other stuff.

Well I don't have access to remove it... Seems only Frederic Lepied can do so. Anyone has a contact info on him?

[2019-11-22 13:34] Conan-Kudo commented on #358
@dmach I know Frederic left Red Hat, do you have the ability to do something about his PyPI registration of `rpmlint`?

[2019-11-22 13:53] Conan-Kudo commented on #358
@scarabeusiv I'm attempting to reach to Frederic about this now.

[2019-11-22 19:44] Conan-Kudo commented on #358
I now have ownership of the `rpmlint` package in PyPI, courtesy of Frederic.

[2019-11-25 09:28] StykMartin opened #359 "Missing specfile in upstream"
Hi,

It is possible to maintain specfile also in upstream, so everyone can build rpmlint on their own?
This seems to be right way when pypi is no go (issue #358)

[2019-11-25 11:25] Conan-Kudo commented on #359
@StykMartin I'm considering integrating a spec file and setting up Packit for this, yes. But I'm also considering uploading an artifact to PyPI when 2.0 is ready, too, even though it's not going to be terribly useful.

[2019-11-25 11:28] StykMartin commented on #359
Sounds good, @Conan-Kudo. Thanks for information.

[2019-12-02 15:03] dnsmichi commented on #198
A workaround is to install the `glibc-langpack-en` as noted here: https://github.com/CentOS/sig-cloud-instance-images/issues/71#issuecomment-549068200 (for everyone hitting this issue via Google).

[2019-12-06 11:36] scarabeusiv commented on #350
Based on the last comment we can consider this fixed.

[2019-12-06 11:36] #350 closed

[2020-01-15 12:57] voxik opened #361 "Provide reasoning for `shared-lib-without-dependency-information` and `library-not-linked-against-libc`"
It would be nice if the errors in subject provide some explanation why they are reported. Looking into git history, the intention behind these checks is not explained in the associated commits.

For example, checking ruby-libs-2.7.0-1.fc32.x86_64.rpm package, I get a lot of `library-not-linked-against-libc` errors but that is very likely just fine, because these libraries are utility libraries to

[2020-01-15 13:04] scarabeusiv commented on #361
Honestly no idea; this error is since 2001 and before that it seems to stretch to the begining as a warning.
Maybe @marxin has any idea what for this check would be? It might even be useless these days.

[2020-01-15 14:14] junaruga commented on #361
I have an idea about `library-not-linked-against-libc`.

## Steps to reproduce the issues

[code]

Download ruby-libs RPM from https://koji.fedoraproject.org/koji/taskinfo?taskID=40371136 .

[code]

You see `library-not-linked-against-libc` error.

[code]

Then

[code]

[code]

Actually `libruby.so.2.7` exists in the same RPM.

[code]

When using `LD_LIBRARY_PATH=./usr/lib64`, the libruby.so.2.7 f

[2020-01-15 14:24] junaruga commented on #361
For shared-lib-without-dependency-information,

## Steps to reproduce the issue: shared-lib-without-dependency-information

Using the same rpm-libs RPM.

[code]

[code]

`statically linked` might be the cause of the error by `rpmlint`, and the `statically linked` state for the so file might be wrong.

[code]

[2020-01-15 14:27] junaruga commented on #361
For ruby-libs-2.6.5-124.fc32.x86_64.rpm, it is not `statically linked`.

[code]

[2020-01-15 15:27] marxin commented on #361
I incline to make warning our of these 2 errors.
About the provided RPM, I see very strange errors for `./usr/lib64/libruby.so.2.7.0`:

[code]

[2020-01-15 16:03] junaruga commented on #361
Are you running the host CPU architecture's binary correctly like this?

[code]

[2020-01-15 18:19] marxin commented on #361
I see the following:
[code]

[2020-01-15 18:20] marxin commented on #361
Sorry, my bad, it's for some reason caused by:
[code]

[2020-01-15 18:21] marxin commented on #361
Now it's fine:
[code]

[2020-01-15 19:30] voxik commented on #361
Unfortunately, this is wrong conclusion. Yes, ldd can't load the linked libraries, but that is not the problem, because rpmlint itself is using readelf, which is just reading the elf headers.

Apparently, typical .so file links gblic among their dependencies. I think that this is probably good thing in most cases. But since the Ruby libraries are just utility libraries used only by Ruby and nothin

[2020-01-15 19:55] junaruga commented on #361
Sorry I had not checked the rpmlint source code. My thought was just assumption.

[2020-01-16 00:54] wenottingham commented on #361
That was a long time ago. I don't remember exactly, but if it uses any symbols from libc, it should have a DT_NEEDED for libc, certainly to ensure it uses the right symbol versions.

[2020-01-16 06:32] voxik commented on #361
Thank you. That sounds as quite nice explanation for this test.

I don't necessarily think that this test has to go deep into analysis if there are any symbols from libc needed, but if there was explained also how to check that, that would help.

[2020-01-16 10:12] marxin commented on #361
Based on the discussion, I tend to make `library-not-linked-against-libc` only warning as there can be multiple examples of such run-time libraries.
About the `shared-lib-without-dependency`, I really see it for the provided Fedora package. But openSUSE package looks fine for the file:
[code]
It may show a problem in package build?

[2020-01-23 14:05] voxik commented on #361
This is interesting.

Ruby 2.7:

[code]

Ruby 2.6:

[code]

[2020-01-23 14:39] voxik commented on #361
Asking upstream:

https://bugs.ruby-lang.org/issues/16558

[2020-02-10 12:03] scarabeusiv commented on #125
Commit merged in for 2.0 release.

[2020-02-10 12:03] #125 closed

[2020-02-10 13:38] mimi1vx commented on #148
partially fixed in #366

[2020-02-11 12:34] scarabeusiv opened #371 "[opensuse] review and port remainder of the rpmlint-checks that are SUSE specific to 2.0 syntax"
When going over the review of what to port and review there still remain following items (counting open PRs as "done"):

openSUSE:
- [x] https://github.com/openSUSE/rpmlint-checks/blob/master/KMPPolicyCheck.py
- [x] https://github.com/openSUSE/rpmlint-checks/blob/master/BrandingPolicyCheck.py

Could be generalized, see https://github.com/rpm-software-management/rpmlint/blob/master/rpmlint/checks/P

[2020-02-11 13:11] scarabeusiv commented on #148
It is fixed in the end by f07832035bf647081e33a5981da1c0a3d1111628

[2020-02-11 13:11] #148 closed

[2020-02-11 13:13] scarabeusiv commented on #227
Apart from librarypolicycheck that needs ton of work the checks were moved. The remainder is tracked in #371 and we can as such close this ticket.

[2020-02-11 13:13] #227 closed

[2020-02-11 13:29] scarabeusiv commented on #359
@Conan-Kudo I have the spec to build it from git in OBS:
 https://build.opensuse.org/package/view_file/home:scarabeus_iv:rpmlint-testbed/rpmlint/rpmlint.spec?expand=1

Feel free to base it from there, but TBH dunno if it really makes sense to provide actual spec...

[2020-02-11 13:38] Conan-Kudo commented on #359
I'm not sure I really want to include a specfile in this project. If I were to do it, I want a nice, simple spec file that works across all distributions with few to no conditionals, leveraging things like commonly used virtual names. That's not likely to happen anytime soon because of issues in openSUSE...

[2020-02-11 14:15] scarabeusiv commented on #359
Ok I will remove the milestone 2.0 for that then :-)

[2020-02-12 11:11] scarabeusiv commented on #371
BuildRoot was already done, I overlooked that 1e2d6e3abfb7419cd081df79b15c926228f2f052

[2020-02-13 08:51] scarabeusiv commented on #361
Ok the update for this bug is in the master branch now. I think we can close this, if you try it out and it still misbehaves feel free to open another tickets.

[2020-02-13 08:51] #361 closed

[2020-02-13 14:56] scarabeusiv commented on #226
As there is just one left over and it is tagged to the milestone we don't need two tickets for one problem.

[2020-02-13 14:56] #226 closed

[2020-02-13 19:38] mimi1vx commented on #359
@StykMartin any upstream spec file is really bad idea.

[2020-02-13 19:49] StykMartin commented on #359
So you saying that pypi is bad idea, spec file is bad idea. How upstream community should build it? Waiting for you to make move?

[2020-02-13 21:30] Conan-Kudo commented on #359
I own the PyPI project now, and I haven't decided which way I'm going to go for this.

Honestly, my blocker right now on an upstream spec file is that `python3dist()` dependencies aren't working in openSUSE yet. Once that's fully fixed, then I'd be willing to consider it.

[2020-02-14 09:40] mimi1vx commented on #359
simply clone / download from github? + if you want spec/deb/ebuild write correct for your distribution?  and push to your distro?

[2020-02-15 07:32] scarabeusiv opened #392 "Replace the large binary packages used for tests"
We don't have the testing framework yet we still should not release anything really huge in the tarball -> use the obs to generate artifical tests instead of MB of real packages.

Current offenders are (I just took anything bigger than 200k and not already minimalized):
- [x] 2.8M Feb 11 15:09 binutils-devel-2.32-351.1.x86_64.rpm
- [x] 3.2M Jul  9  2018 cyrus-imapd-2.4.17-9.fc22.x86_64.rpm
- [x] 3

[2020-02-15 10:09] Conan-Kudo commented on #392
Note that nobody else has an OBS to do this, so you have to keep in mind that everyone else is not necessarily going to be able to do that.

[2020-02-15 10:10] Conan-Kudo commented on #392
It's not that I don't disagree that having these large RPMs is kind of insane, but nobody seems to be providing simple test cases that could be built using rpmbuild by the test apparatus.

[2020-02-15 15:43] Conan-Kudo commented on #264
I think this check is not appropriate for rpmlint, so I'm closing this for now.

[2020-02-15 15:43] #264 closed

[2020-02-15 15:47] Conan-Kudo commented on #176
Also, I vaguely recall that Koji has a vendored copy of rpmdiff. I don't see why Koji shouldn't just use ours, now that it's usable as a module.

@mikem23, @tkopecek, what are your requirements from rpmdiff for Koji?

[2020-02-17 12:46] tkopecek commented on #176
Very briefly, we do a comparison of noarch rpms generated on each architecture and looking for significant differences (rpmdiff -S5TN). Further we're caching hash of this data, to compute it only once. This is probably the most significant difference. Otherwise, it is quite simple rpmdiff-like code (https://pagure.io/koji/blob/master/f/koji/rpmdiff.py)

[2020-02-21 16:33] socketpair opened #395 "Check that %buildrequires is not inside %package"
I have not find official requirements of this, but in general, I saw completely wrong .spec-files where authors add some `builderequires` into `%package` subsection. They believe that this is better since these `buildrequires` are required only to build this subpackage. Since building of solely subpackage is not possible, I consider it wrong.

[2020-02-21 16:34] Conan-Kudo commented on #395
BuildRequires in subpackages are a totally valid strategy, especially for organization and making easier to condition out subpackages and their necessary build dependencies.

[2020-02-21 16:34] #395 closed

[2020-02-21 16:37] socketpair commented on #13
At least we need to forbid this if there is at least one sub-package.

[2020-02-21 16:50] socketpair commented on #395
@Conan-Kudo but this is not documented anywhere. I mean if it is permitted or not.

[2020-02-21 20:34] keszybz commented on #13
What about making things easier to use instead of harder?

[2020-02-22 21:11] socketpair commented on #13
@keszybz I didn't catch what you mean.

[2020-02-23 17:35] keszybz commented on #13
I shouldn't have been so snarky, sorry.

See the comment from 2015 above: `%{summary}` is used (with success) in a very common packaging paradigm of python packages. There's above 2000 python packages in Fedora, 99% of them have a binary subpackage different than the main package (because we create a python3-foo binary subpackage from a python-foo src rpm), and some unspecified fraction uses `%{su

[2020-02-23 19:51] Conan-Kudo commented on #13
I haven't tested this, but I think `%{SUMMARY}` always comes from the main preamble, while `%{summary}` comes from the last processed version (I might have this backwards, it's hard to remember!).

[2020-03-04 14:48] ffesti opened #396 "Check %pretrans scripts to be lua"
See https://github.com/rpm-software-management/rpm/issues/714 for rational and discussion.

[2020-03-04 15:07] scarabeusiv commented on #396
Yep that is quite sensible requirement on the scriptlets.

[2020-03-05 10:16] scarabeusiv commented on #27
Looking on the code the badness evaluation was added at least in 79ac90bb as the test is present there, probably even sooner.

[2020-03-05 10:16] #27 closed

[2020-03-05 10:38] Conan-Kudo commented on #180
This actually makes sense to support in a generic way. openSUSE isn't the only one with such a thing.

Fedora has `No Body <nobody@fedoraproject.org>` and Mageia has `No Body <nobody@mageia.org>`. And there's the generic `@example.com` authors that some use.

[2020-03-05 10:57] scarabeusiv commented on #180
Yea it should be trivial to do this tbh.

[2020-03-05 13:20] Conan-Kudo commented on #341
(FYI: @nickclifton)

[2020-03-11 15:10] Dzejrou opened #398 "patch -s treated by rpmlint as an error"
When patch is used with '-s'  (no output unless error), rpmlint thinks patches were not applied (i.e. probably thinks no output == patching not taking place) and reports an error:

[code]

[code]

However, if I use %patch individually for each patch:

[code]

[2020-03-11 15:18] scarabeusiv commented on #398
What would be lovely if our systemd pkg used %autosetup or %autopatch, but yes this is a bug.

[2020-03-11 15:29] Dzejrou commented on #398
The first two outputs are from a build that used %autopatch, i.e. what systemd uses normally. The last one is when I (out of fear that no patches were applied) changed the %autopatch line to a sequence of %patch statements.

[2020-03-13 06:58] scarabeusiv opened #399 "Rename CheckForXinetd"
We name all the checks as blablaCheck and this one is inverse.

For similarity we should simply rename it.

[2020-03-13 06:59] scarabeusiv opened #400 "[opensuse] systemd install check should detect wrong services"
If you run the macros on socket services it will not work and print stuff. We should detect this and report early on.

[2020-03-13 10:24] Conan-Kudo commented on #399
Makes sense to me. 👍

[2020-03-14 08:53] thmo opened #401 "allow packages with cron files to depend on "crontabs" instead of "cron""
https://github.com/rpm-software-management/rpmlint/blob/b592020f941e453dc523206f7127cb56a0b163b1/rpmlint/checks/FilesCheck.py#L565-L567

According to the [Fedora Packaging Guidelines](https://docs.fedoraproject.org/en-US/packaging-guidelines/CronFiles/), packages containing cron job files should depend on `crontabs`. The check should be updated to allow this.

[2020-03-14 09:05] scarabeusiv commented on #401
On the other hand this is not applicable on others than Fedora.

Yet i.e. in openSUSE we now error if pkg installs cron instead of systemd timer...

[2020-03-14 09:21] thmo commented on #401
Would allowing `crontabs` in addition to `cron` as required dependency hurt the others?

That's a different check, isn't it? Disallowing files `/etc/cron.*` in favor of systemd timers.

[2020-03-14 09:22] Conan-Kudo commented on #401
We should be disallowing cron jobs by default on Fedora too. But the cron check should be updated to ensure require `crontabs` is a dependency.

[2020-03-14 09:24] scarabeusiv commented on #401
Yep, it is different check, but the FilesCheck is not converted yet to the 'readable' layout of single functions. We might even say that because we want people on timers it is kinda pointless to check for cron otherwise.

[2020-03-14 09:25] Conan-Kudo commented on #401
Indeed, that makes sense to me. We probably want to split cron checks out and add to the systemd check for preferring timers over cron jobs?

[2020-03-14 09:28] Conan-Kudo commented on #400
Note this is only with the openSUSE-specific `%service_*` macros. The upstream `%systemd_*` macros work perfectly fine with socket units and such.

[2020-03-14 09:43] Conan-Kudo commented on #401
@scarabeusiv It seems that in openSUSE, the `cron` package does the same thing as `crontabs` in Fedora, Mageia, OpenMandriva, and other distributions. That is, it provides the directory skeleton for installing cron jobs.

I can think of two ways to handle this:
* Add a duplicate check for `crontabs`
* Add `crontabs` Provides to `cron` package in openSUSE and adjust check accordingly.

[2020-03-14 10:32] #399 closed

[2020-03-14 10:38] scarabeusiv commented on #341
The check is integrated. If it won't work on Fedora please open a new ticket with some solution for that one.

[2020-03-14 10:38] #341 closed

[2020-03-14 10:39] scarabeusiv commented on #401
We can live with crontabs provide in openSUSE. But tbh we really try to kill the cron usage and there should be almost none packages in Tumbleweed doing cron stuff.

[2020-03-14 10:42] Conan-Kudo commented on #401
@scarabeusiv I agree, but given this, I'm going to propose a PR to adjust our check here.

[2020-03-14 10:59] #401 closed

[2020-03-14 11:08] thmo commented on #401
Wow, that was quick. Thanks.

[2020-03-14 15:59] scarabeusiv commented on #392
The mc must stay as we use it for diff comparison, and you need full pkgs there.

[2020-03-14 16:03] scarabeusiv commented on #392
Libreiserfs actually uses most of its size for the current test (like the data are used) so it does not make sense redoing it and getting same size out of it.

[2020-03-14 16:03] #392 closed

[2020-03-17 19:06] scarabeusiv commented on #371
KMPPolicyCheck is now WIP by me.

[2020-03-22 14:12] thisisshub opened #408 "pytest error inside virtualenv"
I was setting up the environment and following the readme [README.md](https://github.com/rpm-software-management/rpmlint/blob/master/README.md), I followed the step to [directly test](https://github.com/rpm-software-management/rpmlint/blob/master/README.md#directly) a test file and did a
`python3 -m pytest test/test_config.py`

which led to the error

[2020-03-22 17:19] scarabeusiv commented on #408
Not a bug. The readme explicitly says you need pytest-cov and pytest-flake8 if you want to run the tests directly yourself.

[2020-03-22 17:19] #408 closed

[2020-03-28 11:58] scarabeusiv commented on #371
@Conan-Kudo what would be your opinion of https://github.com/openSUSE/rpmlint-checks/pull/55/files#diff-736af2f9cac9ffa626fddbff2dc31c73 I would say this suseism errorer could be upstream, so people by accident don't copy and add this?
I would of course extend it to check all other variables too not just supplements.

[2020-03-28 12:43] Conan-Kudo commented on #371
@scarabeusiv Yeah, makes sense to me.

[2020-03-28 12:45] Conan-Kudo commented on #371
I'd say that the zypp format would be "invalid" rather than "deprecated" in the upstream version, since it doesn't work for _most_ package managers.

[2020-03-30 08:32] scarabeusiv opened #415 "The ldd_parser_failure tests fails if locale is not english"
[code]

We should make sure rpmlint executes all the extra commands in english locale always, to also save the ordering.

[2020-04-01 08:04] #415 closed

[2020-04-01 10:07] scarabeusiv commented on #398
This was fixed by 6de3730a already as the old rpmlint didn't know about autopatch macro usage :(

[2020-04-01 10:08] scarabeusiv commented on #398
Nothing to do more, new rpmlint parses it properly.

[2020-04-01 10:08] #398 closed

[2020-04-01 22:31] kstreitova commented on #326
I think that it sounds reasonable. So do we want to make rpmlint to check if tmpfile is listed as a %ghost in the %files?

[2020-04-01 23:01] hroncok commented on #326
I think we do.

[2020-04-03 09:22] scarabeusiv opened #423 "Python packages testing check"
With the openSUSE packages when looking on what we do we should do following checks on python packages:

1. verify the egg-info is folder (setuptools based) and not file (distutils) to make pip works
2. validate requires really match up the egg-info requires
3. move the forbidden dirs from https://github.com/rpm-software-management/rpmlint/blob/opensuse/rpmlint/checks/FilelistCheck.toml#L86 to the

[2020-04-03 09:24] scarabeusiv opened #424 "Move suse specific xinetd folder check to xinetdcheck"
As we check for the wrong dependency we should also verify the filelist to if it is bad and move it to the standalone check:
  https://github.com/rpm-software-management/rpmlint/blob/opensuse/rpmlint/checks/FilelistCheck.toml#L86

[2020-04-03 09:32] Conan-Kudo commented on #423
I think number 2 is hopefully not going to be needed anymore once the dependency generator is fully enabled in openSUSE like it is in RH/Fedora and Mageia. In Fedora, Mageia, OpenMandriva, ROSA, etc., we don't *have* this problem.

I do not think we should codify deleting content from Python packages in rpmlint upstream. For a couple of reasons: there are enough valuable reasons to ship test code

[2020-04-03 09:40] scarabeusiv commented on #423
We will never use that dependency generator in openSUSE, we can't and won't do those cycles that it causes.

There are 2 cases:
1. tests are directly in site-pacakges/tests so all the packages conflicts, that we already check and error
2. tests in the proper subfolder, that can be warning as we should be running those tests arleady.

And we actually already fake the egg-info if needed, so it is mo

[2020-04-03 09:44] Conan-Kudo commented on #423
It only causes those cycles because you _made_ it that way. That is _definitely_ fixable and you know it. And I'm looking at removing setuptools as a dependency for Python 3.8+ anyway. But you _need_ to fix this problem _openSUSE_ created with setuptools.

This part I agree with. We should definitely have an error here.

[2020-04-07 12:07] hroncok commented on #113
The new message is not always correct. If the RPM has two provides that include version, the error is present as well:

[code]

"This means versioned and unversioned symbols are provided at once" is not applicable in this case.

In this case, the situation is "Identical automated and manual provides exist, the manual one is useless"

[2020-04-07 12:16] scarabeusiv commented on #113
Yeah feel free to file it as a new ticket Miro, the TagsCheck is not yet reviewed and is kinda hard to process at the moment tho :)

[2020-04-07 12:53] hroncok opened #427 "rpmlint --explain useless-provides is not always accurate"
In da28d00d8378d13fc774b3d1d0b60883b0e53883 the message was adapted to:

However, that's not always the case:

If the RPM has two provides that include version, the error is present as well:

[code]

"This means versioned and unversioned symbols are provided at once" is not applicable in this case. The situation at hand is "Identical automated and manual provides exist, the manual one is useless"

[2020-04-07 12:53] hroncok commented on #113
Here: https://github.com/rpm-software-management/rpmlint/issues/427

[2020-04-08 11:26] scarabeusiv commented on #158
Another step we should do in pkg.py is separate the objects per file and have pkg.files a pathlib structure with the information including the compressed data.

[2020-04-17 12:26] darix commented on #423
This is also a problem because we do automatic rebuilds. while most other distros dont. so you dont see the cycles.

[2020-04-17 13:17] Conan-Kudo commented on #423
@darix Bullshit. I know damn well about the cycles. And even though Fedora doesn't _commit_ those auto-rebuilds, we do them too with Koschei. `setuptools` cycles because you've extracted some vendored dependencies that normally depend on `setuptools`.

That said, again, you need to stop breaking the usability of setuptools as low-level Python component.

[2020-04-21 21:16] sgallagher opened #429 "rpmlint reports 'Bad Requirename: qualifiers: Requires(meta):'"
[RPM 4.16.0](https://rpm.org/wiki/Releases/4.16.0) is adding a new qualifier, `(meta)` for dependencies. Currently, attempting to use these in Fedora Rawhide (which has a pre-release version of 4.16.0 available in it) results in error messages:

[code]

Please address this in rpmlint so we can parse this successfully and use it in packages.

[2020-04-22 10:36] #326 closed

[2020-04-22 10:43] Conan-Kudo commented on #429
@sgallagher So that's a bit bizarre, because we're just getting stuff from the RPM Python bindings:

https://github.com/rpm-software-management/rpmlint/blob/297f09e745536ef8c6944a39c9148122b7b3acd5/rpmlint/pkg.py#L647-L651

[2020-04-22 13:41] sgallagher commented on #429
@Conan-Kudo For a little background, `Requires(meta)` offers us the ability to re-add a nice feature we had in the original Fedora Editions approach: we can specify that a machine only reports itself as "Fedora Workstation Edition" or "Fedora Server Edition", etc. if they have a certain minimal set of packages installed. We had to drop that when I simplified the Edition mechanism because they woul

[2020-04-22 13:49] Conan-Kudo commented on #429
@sgallagher Hmm, I wonder, maybe this is only a problem in rpmlint-1.x? Have you tried with the current code in git master (rpmlint-2.0)?

[2020-04-22 13:59] sgallagher commented on #429
[code]

[2020-04-22 13:59] sgallagher commented on #429
That was run on Fedora 32; I probably should retry in a Rawhide container, actually.

[2020-04-22 14:00] Conan-Kudo commented on #429
@sgallagher That would probably help, since F32 wouldn't know `Requires(meta)`...

[2020-04-22 14:07] sgallagher commented on #429
It still needs to ignore it, though. Otherwise, it won't be possible to start Rawhide builds from a non-Rawhide system using `fedpkg`.

And yeah, it appears that on Rawhide when I have

* rpm-4.15.90-0.git14971.6.fc33.x86_64
* python3-rpm-4.15.90-0.git14971.6.fc33.x86_64

I get:
[code]

[2020-04-22 14:14] Conan-Kudo commented on #429
@sgallagher I'm pretty sure this is expected behavior... @pmatilai, @scarabeusiv, do either of you have different opinions here?

[2020-04-22 14:20] sgallagher commented on #429
It's expected behavior that new RPM features cannot be used in Fedora until two full distro releases after they're added to RPM?

How would anyone package for Fedora from a RHEL machine?

[2020-04-22 14:22] Conan-Kudo commented on #429
@sgallagher So the unfortunate thing is that I'm pretty sure the rpmlint policy in Fedora is kind of broken and not adhered to. This is something I'd like to fix with help from @spotrh for Fedora 33.

That said, if there's a way we can make rpmlint ignore unknown tags, I'm happy to do it. @pmatilai is there a way to do this?

[2020-04-22 14:24] sgallagher commented on #429
It is at least sufficiently adhered to that anything that rpmlint reports as a syntax error prevents `fedpkg` from performing operations. So we need a way to at least treat this as "not a syntax error".

Yes, please.

[2020-04-22 14:33] scarabeusiv commented on #429
We execute the rpmlint in the system container with the package itself -> for openSUSE this should be covered.
But anyway we can adjust pkg.py to ignore uknown tags and just list them as possible warnings.
But keep in mind that it will cause different behaviour on system that can parse the tags (can be errors caused there during the parsing) and systems where the tag is unknown. People could avoid

[2020-04-23 05:10] pmatilai commented on #429
The spec parser doesn't support ignoring unknown tags, if that's what you're asking.

[2020-05-18 21:27] kstreitova opened #435 "Check that /usr/share/applications/mimeinfo.cache is not packaged"
We should add a rpmlint check for avoiding packaging `/usr/share/applications/mimeinfo.cache` file. The exception is `desktop-file-utils` package where it should be a ghost file (for openSUSE). Fedora doesn't seem to have this file in `desktop-file-utils` package.

Originally tracked in [openSUSE bug #645728](https://bugzilla.opensuse.org/show_bug.cgi?id=645728).

[2020-06-18 12:56] sgallagher commented on #429
@pmatilai Can we get this bumped up in priority? The list of situations that could be solved by this are increasing daily. For example: https://bugzilla.redhat.com/show_bug.cgi?id=1837812

[2020-06-22 11:19] stanislav-brabec opened #437 "warn on/ban directories for GNOME 1 and KDE 1 support"
**mime-info**

mime-info is an obsolete MIME type definition format. It was used by GNOME 1 and early versions of GNOME 2. According to gnome-vfs2 ChangeLog, GNOME adopted shared-mime-info (`/usr/share/mime` + MIME types in desktop files) in GNOME 2.6. Last version of mime-info support, gnome-mime-data-2.18.0 was released in 2007.

Recent version of GNOME 2 and GNOME 3 have no support for the old

[2020-06-23 07:28] scarabeusiv commented on #437
As a note we found packages in openSUSE still using these and it is pointless, thus the need for new checker.

[2020-06-23 08:34] Conan-Kudo commented on #437
I don't see a reason not to have the check. This definitely makes sense to me. Also, yikes, GNOME 1 in 2020!

[2020-06-23 09:46] jubalh opened #438 "Reporting self-obsoletion upon merging a package"
According to https://en.opensuse.org/openSUSE:Package_dependencies#Merging_a_package merging a package should be done like by adding:

[code]

(Yeah same version that it provides it also obsoletes)

rpmlint will then report:

[code]

I'm not sure this edge case can be handled. But thought I create this issue for you guys to figure it out :)

[2020-06-25 04:37] thisisshub commented on #9
Hi, @scop
Do you think as of now, `E: lib-package-without-%mklibname` can be dropped in the rpmlint?

[2020-06-25 19:33] scop commented on #9
It's been years since I've used rpmlint, so I have no opinion.

[2020-06-25 19:35] Conan-Kudo commented on #9
The `%mklibname` check could be rejiggered to be a generic check if it didn't reference the macro. We can also switch the rule on by default if we did.

[2020-06-26 06:21] scarabeusiv commented on #9
It could be integrated to the slpp checker i am VERY slowly rewritting in #421 if anything.
Atm I am just looking on what it actually was supposed to do and how to achieve that as it threw ton of false positives which is no good. But limiting factor is having time to do it of course.

[2020-06-30 03:12] stanislav-brabec commented on #437
Here are another candidates:
`/usr/share/gnome/apps`: Ancient GNOME 1 files from pre-desktop file era. No openSUSE Tumbleweed package install such file, but `update-desktop-files` still refers to it.

I am unsure about `/usr/share/autostart`. Is it pre-XDG autostart or KDE specific directory? (It is still in use.)

[2020-07-13 06:44] thisisshub opened #442 "How do you create a rpm without an essential tag?"
#### Basically my motive is to create a brpm without a "necessary" tag by which I mean
To create a brpm without
- no-version-tag
- no-release-tag
- no-name-tag
- no-license

#### Steps I tried / Steps to Reproduce

1. Basically create specfile without a `Version:` tag and then `rpmbuild -bb no-version-tag.rpm`
 Error encountered:
 `error: Version field must be present in package: (main package)`
2

[2020-07-13 18:06] losuler opened #443 "Incorrect version information"
I noticed in the [latest release](https://github.com/rpm-software-management/rpmlint/releases/tag/rpmlint-1.11) that the `-V, --version` flag reports it's version as 1.10 instead of 1.11.

[2020-07-15 10:37] kstreitova opened #444 "testsuite: Crashing packages for openSUSE:Leap:15"
We had opensuselp15 test target broken for few months. Now it's been fixed and we are facing the following failing test:

[code]

It seems that some packages cause rpm to crash. Some of the crashes could be caused (or exposed) by pr#441 but as the leap15 target was broken for a few months, it's possible that some of them are completely unrelated.

[2020-07-15 11:07] scarabeusiv commented on #443
As we are more near the release 2.0 I don't think it makes much sense to re-tag year and half old release just to fix the version field. Thanks for the report tho if there would be any other useful commit in 1.11 branch it would make sense, but as of now it seems people can live with the wrong info for a bit longer there.

[2020-07-15 11:07] #443 closed

[2020-07-15 11:09] scarabeusiv commented on #442
If rpmbuild actually refuses something to compile if fields are missing that means the spec-check functionality and verification can be honestly dropped.
If you can't generate some kind of rpm then it does not need to be really checked by the validation tool i would say.

@Conan-Kudo opinion ^^

[2020-07-15 11:12] Conan-Kudo commented on #442
@scarabeusiv My understanding of the speccheck functionality for essential tags was that it's supposed to make sure you didn't put stupid data in there, not just check for their existence.

Also note that there have been various... bad things that try to assemble RPMs by hand, and rpmbuild can be configured to ignore bad things (e.g. SUSE configures rpm to ignore bad EVR strings), so there's still

[2020-07-15 11:13] Conan-Kudo commented on #442
You can absolutely have no-license, though, since that's not a mandatory tag.

[2020-07-15 18:21] thisisshub commented on #442
Sorry, but I tried removing `License:` tag but was welcomed with this error

`error: License field must be present in package: (main package)`

seems like `License:` tag too is an essential tag.

[2020-07-17 11:56] scarabeusiv commented on #371
The remaining checks are in pr#439 thus closing this ticket to move discussion about it there.

[2020-07-17 11:56] #371 closed

[2020-07-29 15:55] thisisshub commented on #442
@Conan-Kudo
Could you suggest me a way on how to make a rpm without an essential tag? I can't figure out a way to do so. It'd be really helpful to know your insight on this : )

[2020-08-03 13:41] socketpair opened #448 "add new check about Requires: xxxx=%version"
Really wrong requires:

[code]

Actually it should be:
`Requires: %{name} = %{version}-%{release}`
or
`Requires: xxxx = %{version}-%{release}`

rpmlint should find such mistakes even if curly braces were not specified around the tags.

[2020-08-03 13:44] socketpair opened #449 "Add new check for wrongly specified version in Requires"
i.e. check for this:

`Requires: xxxx=yyy`
or
`Requires: xxxx>=yyy`

Actually user wanted spaces around comparison operator. Without spaces, RPM considers whole string as a package name.

[2020-08-06 05:28] scarabeusiv commented on #448
There is nothing wrong in %version requires, not everything needs the release in the tag, only in some casees you need to really depend on the exactly same build version. As such in most cases such a warning would be mostly false positive.

[2020-08-06 05:28] #448 closed

[2020-08-06 05:29] scarabeusiv commented on #449
We have this already in spec-cleaner to format it so rpmlint can safely ignore it as it should be fixed by other tool in the rpm arsenal.

[2020-08-06 05:29] #449 closed

[2020-08-12 17:25] mcepl opened #451 "warn on packages having build or runtime dependencies on deprecated packages"
We are now in the process of eliminating nose from Factory, we shouldn’t let another package requiring it slip back (e.g., see https://build.opensuse.org/request/show/825902).

[2020-08-12 17:46] Conan-Kudo commented on #451
Hmm, this should probably be genericized to actually add a policy to warn on requiring packages that have `Provides: deprecated()`.

Cf. https://docs.fedoraproject.org/en-US/packaging-guidelines/deprecating-packages/

[2020-08-12 19:56] mcepl commented on #451
@scarabeusiv  Just sneakily adding you into CC. What do you think?

[2020-08-12 20:01] Conan-Kudo commented on #451
Also... @hroncok, @decathorpe, you may want to weigh in here?

[2020-08-12 20:10] decathorpe commented on #451
insert "THIS IS FINE" GIF here

fwiw, fedora-review actually checks this for new packages, it's just that some people tend to ignore fedora-review output. having it in rpmlint would be nice.

[2020-08-12 20:11] hroncok commented on #451
does rpmlint run repoqueries? if it doesn't then I don't know how to accomplish this.

[2020-08-13 16:32] thisisshub opened #454 "Broken checks in TagsCheck.py"
These tags encountered in the `TagsCheck.py` are either partially broken or totally broken
**Disclaimer:**
- [ ] Broken
- [x] Fixed

- Partially broken checks
 - [x]  summary-on-multiple-lines

   - **Definition:**

        Your summary must fit on one line.

		-  **Where is it found?**

			This warning should be encountered in packages that have a multi line summary. But you can still not find th

[2020-08-18 10:05] thisisshub commented on #454
**Edit 1:**

`invalid-license` check has been correctly tested by usage of `configdefaults.toml`,

[code]

[2020-08-25 21:05] kevinsmia1939 opened #458 "[openSUSE] Need some clarification on E: lto-no-text-in-archive."
Hello,

I have been trying to package qdldl to openSUSE and encounter an error.

[code]
From what I can gather, I don't have a clue.

But with badness of 10000 this must be some serious issue?
I have ask some openSUSE maintainer before and this error should be fix upstream rather than downstream (adding %global _lto_cflags %{?_lto_cflags} -ffat-lto-objects to spec file)?

I have ask many upstream

[2020-08-26 06:41] scarabeusiv commented on #458
It is because of LTO compilation the openSUSE does.

If it is not compiled with this option then stuff gets optimized away and things tend to completely break.

This can't be generalized as  all the static libraries need to have this argument passed in their cflags. Yet another policy tho tells you 'no static libraries' so at the moment from all the packages in Tumbleweed I see 50 that need this t

[2020-08-26 07:39] kevinsmia1939 commented on #458
The reason it get badness of 10000 because it violate no static libraries policy?

[2020-08-26 08:11] scarabeusiv commented on #458
Nope the badness is because it will really break completely without that flag and LTO enabled.

[2020-08-26 12:36] atemp opened #459 "errors/warnings are no detected when using stdin, but they are if filename is specified on command line"
It seems that rpmlint behaves different if spec is read from stdin using the `-` arg.

E.g. the attached spec (rename to `x.spec`)
[x.spec.txt](https://github.com/rpm-software-management/rpmlint/files/5129825/x.spec.txt) throws errors and warnings when called with filename

[code]

but does not when fed via stdin:

[code]
or

[code]

I think, all of the calls above should lead to the same errors/w

[2020-08-26 12:44] scarabeusiv commented on #459
We already rewrote the parser completely in 2.0 so this is basically moot now.
But I agree old parser was utter mess behaving differently everytime.

[2020-08-26 12:44] #459 closed

[2020-08-26 21:03] kevinsmia1939 commented on #458
Thanks, I don't have anything to add.

[2020-08-26 21:03] #458 closed

[2020-09-09 15:16] voxik opened #461 "Add support for %autopatch/%apply_patch"
Using `%autopatch`/`%apply_patch` [[1]], the patches are detected as not applied. It would be nice to provide support for this RPM feature.

[1]: https://rpm.org/user_doc/autosetup.html

[2020-09-09 15:19] voxik opened #462 "Support gem.build_complete file"
Each rubygem-patckage with binary extension ship empty `gem.build_complete` file which is required by RubyGems to detect that binary extension was built, therefore it would be nice if rpmlint have not complained about this file.

[code]

[2020-09-11 08:22] scarabeusiv commented on #462
This should be fairly trivial, we can have list of known zero files that need to be on fs, like py.typed is empty and expected as another alternative.

[2020-09-28 16:13] marxin commented on #454
Are you sure one can really create a spec file that will really contain a line break? `\n` is not a line-break for RPM, it's backslash and `n`.

[2020-09-28 23:59] #444 closed

[2020-09-29 02:41] thisisshub commented on #454
@marxin,
I mean that's just one of the things that I tried, rather it was one of the things on top of my mind to achieve a newline in specfile.  I mean a literal "return character" (enter key), a `\n` or a `^M` character were the things that I tried but none achieved a line break.

[2020-09-29 14:15] marxin commented on #454
Sure, but I don't see how is the `"summary-on-multiple-lines"` broken. It's likely not possible (or very hard) to trigger it.

[2020-09-30 03:35] thisisshub commented on #454
@marxin,
Well, technically it is broken.
Since, if you look at the code in `checks/TagsCheck.py`

[code]

`\n` is supposed to be the character that triggers the error. But I have even tried `return` key and `^M` character which do not work either.

[2020-09-30 07:12] marxin commented on #454
All right, I've just made a PR that tests that.

[2020-09-30 07:37] marxin commented on #454
About this, I found it not possible to build such a RPM package as `rpmbuild` rejects that:

[code]

[2020-09-30 09:11] #454 closed

[2020-10-19 15:03] mcepl commented on #423
And do you do something about them? So you know that your https://src.fedoraproject.org/rpms/python3.9/blob/master/f/python3.9.spec BuildRequires `bluez-libs-devel`, which requires (recursively through glib2 at least) python again? That’s just one cycle I am thinking about right now.

[2020-11-02 10:16] marxin opened #502 "Process packages parallelly"
The following loop can be processed in a parallel way:
https://github.com/rpm-software-management/rpmlint/blob/3fb9d6ce2a1538103aba946931db0adc147eb4a5/rpmlint/lint.py#L146-L148

[2020-11-02 10:32] scarabeusiv commented on #502
It can't until the pkg.py is redone as it stores some of the data in the same location unfortunately.

[2020-11-02 17:33] marxin commented on #502
I see, please assign it to me then.

[2020-11-04 10:58] marxin commented on #502
No, apparently it's not the problem. Each `rpm` is extra to its own directory. The problem seems to be a shared resource:
`self.checks` that likely have an internal state..

[2020-11-04 13:27] marxin commented on #502
And the crucial shared resource is `rpm` (RPM binding).
Apart from that also `_magic` is not thread safe.

[2020-11-04 14:01] marxin commented on #502
please assign it to me

[2020-11-05 09:02] marxin commented on #502
One another option is to run parallelly all checks for each package. Let me try it...

[2020-11-11 11:27] jengelh opened #536 "rpmlint 2 complains about SRPM file modes"
rpmlint 2.0 for openSUSE:Factory:Staging:M/libHX says (this happens for all SRPMS):

[code]

In my book, 644 and 0644 are the same as far as practicality goes.

[2020-11-11 11:29] jengelh opened #537 "rpmlint 2 complains about absence of %clean"
[code]

The `%clean` section is optional and implicit in rpm since a long time. rpmlint should not warn about it.

[2020-11-11 11:31] jengelh opened #538 "name-repeated-in-summary emits stray "C""
(Happens in the rpmlint2-based openSUSE:Factory:Staging:M/AppStream)

[code]

I never understood why there is a "C" or what it is supposed to mean. Can we remove it, lest it be replaced by something meaningful?

[2020-11-11 11:35] jengelh opened #539 "Reword non-etc-or-var-file-marked-as-conffile"
[code]

New proposed wording:

[code]

[2020-11-11 11:37] Conan-Kudo commented on #537
Yeah, this warning should be turned off in Fedora and openSUSE policies. The reason it even still exists is because RPM upstream actually didn't start doing this until RPM 4.16.

[2020-11-11 11:39] jengelh opened #540 "Remove linebreak from branding-requires-unversioned message"
(rpmlint2 from openSUSE:Factory:Staging:M/ModemManager)

[code]

Most other lines are as long as they want to be; wrapping, if anything, is left to the terminal.
Can the linebreak after `%name-` be removed so that the branding-requires-unversioned warning looks coherent?

[2020-11-11 11:40] Conan-Kudo commented on #539
I'd probably say that we should be even stronger here and just say `%config` should not be used in anything but `/etc` and `/var`, no?

[2020-11-11 11:41] jengelh opened #541 "Show modern macros in e.g. rpm-buildroot-usage"
[code]

(#540 would also apply here.)

Proposed new wording:

[code]

[2020-11-11 11:41] scarabeusiv commented on #538
Sure, the C is the language

https://github.com/rpm-software-management/rpmlint/blob/master/rpmlint/checks/TagsCheck.py#L197

[2020-11-11 11:42] scarabeusiv commented on #539
Yep, ack on that, even it could be error, the files check is one of the tests that are not yet rewritten.

[2020-11-11 11:44] scarabeusiv commented on #541
it should be fixed, otoh buildroot is now actively pruned by rpm 4.16 before install so you can touch it but it won't survive anymore at all.

[2020-11-11 11:56] scarabeusiv commented on #540
Actually this is spewing from Textwrap usage for the descriptions.

As the toml has it right:
https://github.com/rpm-software-management/rpmlint/blob/opensuse/rpmlint/descriptions/BrandingPolicyCheck.toml#L13

[2020-11-11 11:58] scarabeusiv commented on #536
This is from the default value of valid perms I suppose:
https://github.com/rpm-software-management/rpmlint/blob/master/rpmlint/configdefaults.toml#L278

[2020-11-11 12:09] Conan-Kudo commented on #541
Yeah, I [fixed this in RPM 4.16](https://github.com/rpm-software-management/rpm/commit/f49671d6f3442cfff08d6167b618607e96cf0970), so this is probably a valid error.

[2020-11-11 12:10] Conan-Kudo commented on #541
This warning should be upgraded to an error, since this is completely wrong.

[2020-11-11 13:00] marxin commented on #538
I'm going to fix it.

[2020-11-11 13:15] jengelh opened #548 "Improve wording of incoherent-version-dependency-on"
[code]

The incoherent-version-dependency-on warning's text needs improvement. It should say something like `missing dependency on libAppStreamQt*/libAppStreamQt-libs/... = 0.12.11`. However, the package _does_ have a dependency on libAppStreamQt2, so it is (also) not clear why the message is there in the first place (possible bug).

[2020-11-11 13:17] jengelh opened #549 "Improve wording of incorrect-locale-subdir"
[code]

Proposed new wording:

[code]

[2020-11-11 13:24] jengelh opened #550 "Non-empty ldconfig post claims there is no ldconfig"
[code]

This correctly elicits the `libblah0.x86_64: E: non-empty-%post /sbin/ldconfig` warning, but it also causes a false positive:

[code]

The package certainly calls ldconfig - just not the right way :)

[2020-11-11 13:30] #540 closed

[2020-11-11 13:32] scarabeusiv commented on #550
This should really be moved to file triggers.

[2020-11-11 13:35] jengelh opened #551 "Exclude /var/log from logrotate-log-dir-not-packaged"
[code]

In case of samba, rpmlint would be correct, but I think /var/log itself should be excluded.

[2020-11-11 13:36] Conan-Kudo commented on #551
Shouldn't this already be declared in the `filesystem` package and picked up by rpmlint?

[2020-11-11 13:38] Conan-Kudo commented on #550
Assuming a [transition from Zypper to DNF occurs in openSUSE](https://lists.opensuse.org/archives/list/factory@lists.opensuse.org/thread/GAPGVVKWI5CCCKMR6JQI5RMEOZNTOMJK/), we should be able to finally move to file triggers like Fedora and Mageia did long ago...

[2020-11-11 14:33] jengelh opened #552 "missing-dependency-to-crontabs erroneously matches base directories"
[code]

Exclude cron directories from the check, only consider files within.

[2020-11-11 14:39] jengelh opened #553 "nbsp check with false positive"
In Staging:M, one can observe

[code]

However, the .spec file only has 677/678 lines.

[2020-11-11 14:42] jengelh opened #554 "Relax nbsp check for %description"
[code]

nbsp occuring in `%description` should be fine and no warning should be emitted.

[2020-11-11 14:50] #536 closed

[2020-11-11 14:51] jengelh opened #555 "Improve handling/wording of package-with-huge-docs on javadocs"
[code]

The 100% documentation ratio is sort of expected with such a package. Options I see:

* Add an explanatory line to rpmlint pointing to the policy, e.g. `Documentation should be in a package ending in "-doc"`
* Whitelist `-javadoc` as a suffix in rpmlint

(I am kind of in favor of the first, because javadoc is redundant when there is already a -java substring.)

[2020-11-11 14:52] scarabeusiv commented on #553
Nah thats correct, it sees it in the converted spec that contains also the %changelog entries.

[2020-11-11 15:09] #537 closed

[2020-11-11 15:09] Conan-Kudo commented on #555
We should probably do the latter regardless, as `-doc` and `-javadoc` can be two different types.

[2020-11-11 15:10] #541 closed

[2020-11-11 15:10] #538 closed

[2020-11-11 15:15] jengelh opened #556 "Have statically-linked-binary ignore kernel code"
[code]

I suppose the static check should ignore /lib/modules altogether.

[2020-11-11 15:25] #553 closed

[2020-11-11 15:30] Conan-Kudo commented on #549
We'd probably want to rename the error if that's the actual root cause.

[2020-11-11 15:31] scarabeusiv commented on #549
I wonder if kde really install the locales there so it is expected and correct behaviour too.

[2020-11-11 15:32] Conan-Kudo commented on #549
It doesn't in Fedora, seems to be an openSUSE specific bug.

[2020-11-12 00:12] cboltz opened #557 "invalid-url DistURL obs://build.opensuse.org/... and Source0: $filename"
rpmlint 2.0 in Staging:M reports lots of `invalid-url` errors, for example

[code]

This seems to affect lots of (all?) packages:
* DistURL will always be `obs://...`
* `Source` can be a download URL, but AFAIK doesn't have to - therefore I slightly ;-) doubt marking all filename-only sources is helpful

[2020-11-12 00:24] cboltz opened #558 "missing-rc-link doesn't check /sbin/"
rpmlint 2.0 in Staging:M expects the `rc*` symlinks to be in `/usr/sbin/` which isn't always true. They also can (and do) live in `/sbin/` ;-)

[code]

However, the apparmor-parser package ships the `rcapparmor` symlink:
[code]

There are also `/sbin/rcnetwork` and `/sbin/rcsyslog` - and maybe some more in packages that I don't have installed on my system.

Sidenote: does it really make sense to r

[2020-11-12 00:41] Conan-Kudo commented on #558
I would really rather we dropped this check entirely...

[2020-11-12 00:42] Conan-Kudo commented on #557
I would recommend having this suppressed for DistURL in the openSUSE configuration.

[2020-11-12 07:39] scarabeusiv commented on #557
Yea we will have to either suppress it, or check if it says obs:// and accept it too.

[2020-11-12 07:42] scarabeusiv commented on #558
I wanted to start discussion about killing this shim on factory but so far people are really conservative. Also it is in the openSUSE branch only.

But we also finished the usr merge and nothing really should be in /sbin and /bin unless it is symlinks. So the error here is correct IMO.

[2020-11-12 07:42] #558 closed

[2020-11-12 08:05] scarabeusiv commented on #549
Also this is in the 1.0 acting the same, so we can fix it in 2.1 ;)

[2020-11-12 10:48] #556 closed

[2020-11-12 12:02] Conan-Kudo commented on #557
Since `obs://` URLs aren't usable with anything, I would recommend suppressing it.

[2020-11-12 12:07] scarabeusiv commented on #557
Yea but something fishy is on `Source0: tarball.gz` complaining as well, that should be quiet.

But TagsCheck is still lovely spaghetti and not cleaned up...

[2020-11-12 12:23] cboltz commented on #558
I'm afraid my laptop (current Tumbleweed) disagrees with "finished the usr merge" ;-)

[code]

[2020-11-12 12:34] Conan-Kudo commented on #558
I know. I think the easy path would be just to drop the rpmlint check. It'll gradually fall by the wayside then. No need to do anything else.

[2020-11-13 10:08] scarabeusiv commented on #554
As per your other comment we might avoid scanning the %changelog entries too as it should not affect the resulting output.

[2020-11-13 10:10] scarabeusiv commented on #552
Most importantly the FilesCheck is not rewritten and one of the items we might wanna do here is like with xinetd just point out user to systemd timers anyway.

[2020-11-13 10:12] scarabeusiv commented on #551
This is also FilesCheck, it makes sense to inspect this after it is redone and cleaned up.

[2020-11-13 10:15] scarabeusiv commented on #451
I agree with Miro, there is no actual way how to check this up at the moment as we check just whats within the pkgs, we don't check the requires, nor do we check the if the pkg can be installed.

The only item I can see here is if we would run it on the installed rpm within existing system. (which is possible but almost nobody runs the rpmlint in this way).

If you figure some way how to have this

[2020-11-13 10:15] #451 closed

[2020-11-13 10:27] scarabeusiv commented on #6
This in its own should be now fixes as the whole rpmlint operates in utf8 namespace.

[2020-11-13 10:27] #6 closed

[2020-11-13 13:31] marxin opened #567 "Implement shlib-policy-nonversioned-dir for SLP check"
It's mentioned at the very end of `SharedLibraryPolicyCheck.py` file.

[2020-11-14 08:40] #548 closed

[2020-11-20 06:20] marxin commented on #157
@scarabeusiv I would close this issue.

[2020-11-20 06:28] marxin commented on #557
These warnings are also present in `rpmlint-1.x`, but we as SUSE have a local patch that skips that:

[code]

That said, it's likely `2.1` material, it's not a new regression.

[2020-11-20 07:24] scarabeusiv commented on #157
Yep looks complete for openSUSE, other distros can add theirs if they need tweaking from defaults.

[2020-11-20 07:24] #157 closed

[2020-12-09 08:27] #462 closed

[2021-01-06 13:14] yecril71pl opened #596 "Remove the check that .so files have execute permission"
Shared libraries, when executed, typically crash with a segmentation violation signal.  They should not be executable.

[2021-01-06 13:23] yecril71pl commented on #361
But it is not.  There are legitimate libraries that do not link against the C library.  I can think of two types: one is for number crunching and other specific maths, the other is object‑oriented CORBA‑style plug‑ins that use only callbacks provided by the host.

[2021-01-06 16:39] yecril71pl commented on #361
Should I open another ticket with the same summary?  The issue is closed even though no *sufficient reasoning* has been provided.

[2021-01-07 10:12] marxin commented on #361
I guess not.
Note that error became a warning and for the situation, you mentioned, it's likely easier to ignore the warnings in a `rpmlintrc`.

[2021-01-11 05:20] socketpair opened #598 "E: shared-lib-without-dependency-information /usr/bin/xxx for GO binaries"
I use Fedora 33 and rpmlint from the distro (rpmlint-1.11-12.fc33.noarch)

Fragment  of .spec file how I build my GO sources:
[code]

Example of the binary:
[bug.zip](https://github.com/rpm-software-management/rpmlint/files/5794106/bug.zip)

[2021-01-11 08:36] marxin commented on #598
Thank you for the report.

Right now we skip `.gox` files
https://github.com/rpm-software-management/rpmlint/blob/7a87b6c870fdde6681d3a3a1f19555b26ddf2981/rpmlint/checks/BinariesCheck.py#L614-L618

shouldn't the installed `bug` be named with the extension? I'm sorry, but I'm not much familiar with `go` extensions, but I know that we intentionally skip ELFs created with go for various reasons.

[2021-01-11 10:28] socketpair commented on #598
No! my binaries are not extensions! they are final executable files. That's why they are placed in /usr/bin

[2021-01-11 10:45] marxin commented on #598
All right, we can filter out the checks based on:

[code]

I'll work on that..

[2021-01-11 10:47] marxin commented on #598
@socketpair May I please ask you for steps on how to create a reproducer that will be as small as possible?

[2021-01-11 11:10] socketpair commented on #598
What should I give to you ? minimized srpm ?

[2021-01-11 11:16] marxin commented on #598
Yes, please.

[2021-01-11 14:33] socketpair commented on #598
[example.zip](https://github.com/rpm-software-management/rpmlint/files/5796286/example.zip)

srpm + generated rpms

[2021-03-17 09:56] sjvudp opened #610 "Detect undefined macros being used in %files"
I had a case where some undefined macro was used in `%files` section. `rpmlint` detected no error, but building the RPM failed as the resulting filename to add did not start with a slash.
Like in `%{undefined}/foo` when `%define undefined /foo` was expected.
`error: File must begin with "/": %{undefined}/foo`

[2021-03-17 11:07] marxin commented on #610
Seems like a good idea. Are you willing to prepare a pull request for it?

[2021-03-19 03:20] thisisshub opened #611 "E: no-group-tag check is never executed"
## Source of the Issue

https://github.com/rpm-software-management/rpmlint/blob/60c98ff0f92e79ddcc224088f7a0c4dc36416c55/rpmlint/checks/TagsCheck.py#L479-L492

In line 491 above:
[code]

The `group` variable originates from line 93 of TagsCheck,py `group = pkg[rpm.RPMTAG_GROUP]` which basically returns the value of the `Group:` tag in a specfile and does not check for the `Group:` tag itself.

##

[2021-03-19 03:27] thisisshub commented on #611
Since the `if not group:` tag checks or looks for the `Group:` tag's value and not for the tag itself the key note problem becomes that the `if not group:` condition is never executed perhaps.

OTOH if we do remove the `Group:` tag we are finally return with the following result

<details>
<summary>test.spec without Group tag</summary>
<br>

[code]

</details>

**Output**
[code]

[2021-03-19 10:21] marxin commented on #611
Confirmed, I've just created a pull request.
The corresponding `rpm` code live here:

https://github.com/rpm-software-management/rpm/blob/d8fbddfa5051bdc1c71e16cb11f14d9fdc7f5c5e/build/parsePreamble.c#L1206-L1212

[2021-03-19 12:32] #611 closed

[2021-03-19 12:43] junaruga opened #613 "Detecting duplicated directory/file entry"
I found the following duplicated directory entry `%{ruby_libdir}/io` for the `%files` sections in [the Fedora ruby.spec` file](https://src.fedoraproject.org/rpms/ruby/tree/rawhide) - ruby-3.0.0-146.fc35.src.rpm.

Here is the used rpmlint version.

[code]

[code]

I think rpmlint does not detect the issue. I found the issue by the following commands. So, it is great if the rpmlint detects the issue

[2021-03-22 21:13] xsuchy opened #617 "describe semantics of setBadness and addFilter"
It would be nice to describe (and define) the meaning of setBadness and addFilter in config file.

I read the code and I **think** I know what it does. But it always does not work the way I think it should. Therefore I would rather leave it for the authors to describe it. :)

I think that README.md is just fine.

[2021-03-22 21:43] xsuchy opened #619 "config/Fedora/*"
Is there some reason why `config/Fedora/*` does not exist? Is someone working on it? Or is PR welcome?

[2021-03-23 10:07] #617 closed

[2021-03-23 10:09] marxin commented on #619
During the development, we were told that `Fedora` (as opposed to `openSUSE`) uses default settings.
If you have a setting overrides, feel free to submit corresponding config files.

[2021-03-23 10:09] #619 closed

[2021-03-23 12:12] xsuchy commented on #619
When I run the development code on my package I get:
[code]

These are all false negatives for Fedora. I.e. all of them should be fine.
Should I submit PR to change the defaults or should I create the config file?

[2021-03-23 13:55] marxin commented on #619
Create a separate config file(s), please.

[2021-04-14 16:48] hellcp opened #624 "Drop rcfoo checks in openSUSE branch"
With SLE 15 SP2 the [support for System V init.d scripts has been marked as deprecated](https://www.suse.com/releasenotes/x86_64/SUSE-SLES/15-SP2/#jsc-SLE-7690). For both Tumbleweed and Leap/SLE 16 that means that the checks associated with that functionality should also be deprecated and dropped.

[2021-04-21 12:42] marxin commented on #624
Fixed on `opensuse` branch.

[2021-04-21 12:42] #624 closed

[2021-04-23 17:34] mcepl opened #626 "zero-length py.typed is OK"
According to https://www.python.org/dev/peps/pep-0561/:

which means that there will be quite often zero-length file `py.typed` and that's OK.

[2021-04-23 17:36] #626 closed

[2021-05-05 13:21] junaruga opened #632 "rpmlint can't parse load builtin macro"
I changed the `%{?load:...}` to `%{load:..}` on Fedora rawhide by following an advice https://github.com/rpm-software-management/rpm/issues/1669 . Then I see that the rpmlint (`rpmlint-1.11-15.fc33.noarch`) reported an error.

ruby.spec

[code]

It there a way to avoid this error? Do we need to apply a conditional load `%[%{exists:/some/file}?"%{load:/some/file}":""]` https://github.com/rpm-softwa

[2021-05-05 14:30] junaruga commented on #632
I think 2 possible ways to fix.
* Fix to load a file outside of spec file.
* Skip the check if rpmlint can not load a file outside spec file.

I want to avoid that rpmlint can not parse and can not continue to check other parts in the spec file.

[2021-05-05 15:44] junaruga commented on #632
Just note for the load (buildin macro).
http://rpm.org/user_doc/macros.html

[2021-05-06 16:04] junaruga commented on #632
I created a minimal reproducer here.
https://github.com/junaruga/report-rpmlint-load

[2021-05-10 21:22] junaruga commented on #632
@marxin I uploaded the source rpm here. You can download it by clicking "Download" button on the page.
https://github.com/junaruga/report-rpmlint-load/blob/main/test-1-1.fc35.src.rpm

[2021-05-11 07:51] #632 closed

[2021-05-13 11:50] packit-as-a-service[bot] opened #635 "[packit] Deprecated options used in configuration"
Your config appears to use:
- `current_version_command`
Those options will soon be deprecated and superseded by actions, please adjust you packit configuration.

For more info, please check out the documentation: https://packit.dev/docs/actions/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-05-14 06:40] s-t-e-v-e-n-k opened #638 "Checking an installed package results in DuplicatesCheck dying with an exception"
[code]

Digging into this, `pkg.dirName()` is the unpacked directory, which is fine and in use when checking provided RPM files, but that directory is empty when checking installed packages. The only workaround I can think of is forcing `dirName` to return '' for installed packages, but I am not familiar with rpm's python bindings at all.

[2021-05-14 08:43] #638 closed

[2021-05-14 09:09] s-t-e-v-e-n-k commented on #638
Nice work! I think you've left a debug print in that linked commit.

[2021-05-14 10:05] marxin commented on #638
Thanks

You are right, I've just cleaned that up.

[2021-05-17 07:01] marxin commented on #557
Fixed in `opensuse` branch.

[2021-05-17 07:01] #557 closed

[2021-05-17 07:02] marxin commented on #635
The config does not use the option `current_version_command`.

[2021-05-17 07:02] #635 closed

[2021-05-18 07:56] marxin commented on #359
Now we have a spec file for Packit project: `.packit/rpmlint.spec`.
@Conan-Kudo: Can we close the issue now?

[2021-05-18 11:38] Conan-Kudo commented on #359
Yep! That should serve as a nice example file for everyone.

[2021-05-18 11:38] #359 closed

[2021-05-18 13:05] junaruga opened #648 "Return an error status when a rpmlintrc file includes an unmatched filter."
This ticket is a new feature request.

On the latest master `c25c5eacf8122bdc92ba2f481e42d46803b11906`, for example when we have a rpmlintrc file that has an filter item that not match any messages, and the rpmlint uses the file, I want to see the rpmlint returns an error status.

Currently the rpmlint returns the success status (0) on the condition like this.

[code]

[code]

The real use case is

[2021-05-18 13:26] junaruga commented on #648
The internal logic could be that

* Each filter line has the counter.
* If more than equal one counter is zero after filtering, return error status with a proper error message.

[2021-05-18 13:31] marxin commented on #648
I quite like the suggested idea. On the other hand, I can imagine having a single spec file that is used both in e.g. `opensuse` and `SLE`. Each of these targets contains different rpmlint. That said, it's valid to ignore `opensuse` filters that are intended for `SLE` target.

What about making that a warning. Would you like an option for reporting the unused filters?